*{
	list-style-type: none;
	text-decoration: none;
	margin:0;
	padding: 0;
	font-weight: normal !important;
}

*, 
*:after, 
*:before { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

html,
body{
	height: 100%;
	min-height: 100%;

}

/*
*	Modular code
*/

.cntr{
	display: block;
	margin: 0 auto;
}

.crcl{
	border-radius: 100%;
}

.ul{
	text-align: center;
}

.li{
	display: inline-block;
}

.title{
	text-align: center;
}

.nopoint{
	cursor: auto !important;
}

.noclick{
	 pointer-events: none;
}

.menuactive{
	color: white !important;
	margin-left: 10px !important;
}

.oScroll{
	overflow: scroll;
}
.oHide{
	overflow: hidden;
}



body{
	@include setup($Bod, 100% ,hidden);
	
	@media only screen and (max-width: 850px){
		.logo h1 {
			font-size:25px;
			&:nth-child(1){
			margin-bottom: 25px;
			}
		}
		.pagenav li a,
		.logo h1 a{
			margin-left:-5px;
		}
		.pagenav li a{
			font-size:18px !important;
		}
		.pagenav li{
			margin-bottom: 10px !important;
		}
	}
	
	/*
	@media only screen and (max-width:640px){
		.header{
			width: 130px;
			
		}
	
	}
	*/
	@media only screen and (max-width:640px){
		.main-cont{
			width: 70%;
		}

	}
	/*
	@media only screen and (max-width:435px){
		.main-cont{
			width: 65%;
		}

	}
	*/
	


	.header{
		display: block;
		width: 20% ;
		height: 100%;
		float: left;
		position: relative;

	}
	.logo{
		h1{
			font-family: 'Playfair Display', serif;
			margin-left: 20px;
			&:nth-child(2){
			margin-top: -30px;
			}
		}
		a{
			color:#254b77;
			margin-top:0;
		}	
	}
	.pagenav{

		position: relative;
		ul{
			margin-top: 50px;			
			li{
				margin: 0 0 0 20px;
			}
			a{
				color:#8fb9ea;
				font-size: 15px;
				&:hover{
					color:black;
				}
			}
		}
	}
	
	/*
	@media only screen and (max-width:400px){
		.header{
			width: 100% !important;
		
			height: 80px !important;
		}
		.logo{
			float: left;
			display: inline-block;
			h1{
				font-size: 20px;

			}

		}
		.pagenav{
			display: none !important;
		}
		.main-cont{
			display: block !important;
			margin: 0 auto !important;
			width: 100% !important;
		}
		
		.mobileBtn{
			display: inline-block !important;
			float: right !important;

		}


	}
	*/
	@media only screen and (max-width:615px){
		.header{
			width: 100% !important;
		
			height: 80px !important;
		}
		.logo{
			float: left;
			display: inline-block;
			h1{
				font-size: 20px;

			}

		}
		.pagenav{
			display: none !important;
		}
		.main-cont{
			display: block !important;
			margin: 0 auto !important;
			width: 100% !important;
		}
		
		.mobileBtn{
			display: inline-block !important;
			float: right !important;

		}


	}

	.mobileBtn{
		height: 50px;
		width: 50px ;
		background-color: #4185D3 ;
		float: right !important;
		margin: 15px 15px 0 0;
		display: none;

		.line1,
		.line2,
		.line3{
			width: 30px;
			background-color: white;
			height: 2px;
			display: block;
			margin: 11px auto 0 auto;
		}
		&:hover{
			cursor: pointer;
		}
	}
	
	@media only screen and (min-width: 616px){
		.mobileItems{
			display: none !important;
		}
	}

	.mobileItems{
		
		-webkit-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
        transform:translateY(-150px);

        display: block;
		margin-left: 100px;
		width: 200px;
		
		overflow: hidden;
		position: absolute;
		@media only screen and (max-width: 616px){
			width: 300px;
			margin-top: 15px;
			margin-left: 25%;
			li{
				margin-right: 10px;
			}
		}
		@media only screen and (max-width: 460px){
			width: 200px;
			margin: 0 0 0 150px;
			li{

				&:nth-child(2){
				margin-left:-20px;
			
				}

				&:nth-child(4){
					margin-left: 0px;
				}
				&:nth-child(odd){
					margin: 0 30px 0 0;
					

				}
			}
		}
		li{
			
			display: inline-block;
			text-align: center;
			margin-top: 5px;
			
/*
			&:nth-child(2){
				margin-left:-20px;
			
			}

			&:nth-child(4){
				margin-left: 0px;
			}
			&:nth-child(odd){
				margin: 0 30px 0 0;
				

			}
*/	
		}
		a{
			font-size: 17px;
			color:#8fb9ea;
			&:hover{
				color:black;
			}

			
		}
	}


	.main-cont{
		width:80%;
		height: 100%;
		
		display: block;
		float: right;
		background-color: $Cont;
		overflow: scroll;
		svg{
			fill:none;
			stroke-width:2;
			stroke-linecap:round;
			stroke: #fff;
			height: 100%;
			width: 100%;
		}
	}
}