*{
  text-decoration: none;
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
}

.cntr{
  display: block;
  margin: 0 auto;
}

.crcl{
  border-radius: 100%;
}

.ul{
  text-align: center;
}

.li{
  display: inline-block;
}
.noPointers{
  pointer-events: none;
}
html,
body{
	height: 100%;
	min-height: 100%;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
}


/*
*    Project Start
*/

body{
  perspective: 3000px;
  perspective-origin: 50% 50%;

  background: linear-gradient(127deg, #3d7eaa, #ffa27a, #00bdc3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 23s ease infinite;
  -moz-animation: AnimationName 23s ease infinite;
  -o-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 51%}
      100%{background-position:0% 50%}
  }

  /* 3 colors, only 2 sshow
  background: linear-gradient(127deg, #3d7eaa, #ffa27a, #00bdc3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  -o-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:97% 0%}
      50%{background-position:4% 100%}
      100%{background-position:97% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:97% 0%}
      50%{background-position:4% 100%}
      100%{background-position:97% 0%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:97% 0%}
      50%{background-position:4% 100%}
      100%{background-position:97% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:97% 0%}
      50%{background-position:4% 100%}
      100%{background-position:97% 0%}
  }
  */

/* //ORIGINAL 4 COLORS
  background: linear-gradient(127deg, #3d7eaa, #bb7aff, #ffa27a, #00bdc3);

  background-size: 800% 800%;

  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  -o-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 17%}
      50%{background-position:100% 84%}
      100%{background-position:0% 17%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 17%}
      50%{background-position:100% 84%}
      100%{background-position:0% 17%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 17%}
      50%{background-position:100% 84%}
      100%{background-position:0% 17%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 17%}
      50%{background-position:100% 84%}
      100%{background-position:0% 17%}
  }
  */



  .loadingShell{
    height: auto;
    width: auto;
    background-color: white;
    position: absolute;
    //top:0;left:0;right:0;bottom:0;margin: auto;
    top:30px;left:30px;right:30px;bottom:30px;margin: auto;


    //transform: scaleX(0.04) scaleY(0.09);
    transform: scale(0.02);




  }//end loadingShell
}//end body

/*
.menu{
  position: fixed;
  //bottom:4px;left:0;right:0;margin:auto;
  //text-align: center;
  bottom:50px;
  left:50px;
  //opacity: 0.6;
  z-index: 1000;
  width: 100px;
  //height: 20px;
  color: white;
  text-transform: uppercase;
  //border: 1px solid white;
  letter-spacing: 5px;
  font-size: 12px;
  &:hover{
    cursor: pointer;
  }
  @media only screen and (max-width: 600px){
    bottom:30px;
    left:30px;
  }
}//end menu
.menuContent{
  position: absolute;
  top:0;
  left:10%;
  bottom:0;
  margin: auto;
  width: 200px;
  height: 250px;
  font-family: $incon;
  font-size: 20px;
  @media only screen and (max-width: 930px){
    left:8%;
  }//end 930px
  @media only screen and (max-width: 760px){
    left:5%;
  }//end 760px
  @media only screen and (max-width: 620px){
    width: 180px;
  }//end 620px
  @media only screen and (max-width: 575px){
    width: 150px;
  }//end 575px
  @media only screen and (max-width: 500px){
    width: 120px;
  }//end 500px
  @media only screen and (max-width: 400px){
    left:2%;
    font-size: 15px;
  }//end 400px

  li{
    //border: 1px solid black;
    padding: 10px 0;
    margin-top: 10px;
    &:nth-child(1){
      padding:0;
      margin:0;
    }
    img{
      height: 60px;
      width: 60px;
      //border: 1px solid white;
    }
    &:hover{
      cursor: pointer;
    }
  }
}//end menuCOntent
*/


  .contactAfter{
    height: auto;
    width: auto;
    position:fixed;
    top:30px;right:30px;bottom:30px;left:30px;
    background-color: #9DA6BB;
    z-index: 200;
    opacity:0;
    @media only screen and (max-width: 600px){
      top:15px !important;left:15px !important;right:15px !important;bottom:15px !important;
    }
    .contactExit{
      position:absolute;
      top:0;
      right:0;
      padding:15px 20px;
      color:black;
      font-family:arial;
      background-color: transparent;
      font-size:20px;
      border: none;
      text-transform: uppercase;
      font-weight: 200;

      &:focus{
        outline:0;
      }
      &:hover{
        cursor: pointer;
      }
    }//end contactExit

    form{
      text-align: center;
      width: 300px;
      height:285px;
      font-family: $incon;
      position: absolute;
      top:0;left:0;right:0;bottom:0;margin:auto;

      input,
      #message{
        background-color: transparent;
        display: block;
        margin: 10px auto 0 auto;
        border: 1px solid black !important ;
        border-radius: 0;
        &:focus{
          outline:0;
        }
      }

      input,
      #message{
        width: 100%;
        padding: 10px 0 10px 10px;
      }

      #message{
        height: 100px;
      }

      button{
        //padding: 10px 20px;
        height: 50px;
        width: 100px;
        position: absolute;
        bottom:0;left:0;right:0;margin:auto;
        background-color: transparent;
        border: 1px solid black ;
        &:focus{
          outline:0;
        }
        &:hover{
          cursor: pointer;
        }

      }

      ::-webkit-input-placeholder {
        color: white;
        opacity:1;
      }
      :-moz-placeholder {
        color: white;
        opacity:1;
      }
      ::-moz-placeholder {
        color: white;
        opacity:1;
      }
      :-ms-input-placeholder {
        color: white;
        opacity:1;
      }

    }//end form

  }//enc contactAfter

#shell{
  position: absolute;
  top:30px;left:30px;right:30px;bottom:30px;margin: auto;
  height: auto;
  width: auto;
  overflow: scroll;
  -webkit-box-shadow: 3px 10px 69px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 10px 69px -12px rgba(0,0,0,0.75);
  box-shadow: 3px 10px 69px -12px rgba(0,0,0,0.75);
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-width: 600px){
    top:15px !important;left:15px !important;right:15px !important;bottom:15px !important;
  }


  .banner{
    height: 100%;
    width: 100%;
    //background-color: #addab4;
    background-color: #435167;
    position: relative;
    overflow: hidden;
    min-height: 360px;

    .imgHold{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin: auto;
      height: 190px;
      width: 500px;
      //border: 1px solid white;
      @media only screen and (max-width: 600px){
        width: 80% !important;
        height: 150px;
        img{
          width: 100% !important;
        }
      }//end 600px

      &:after{
        content:'I Design and Develop Digital Experiences.';
        color: #E5BA92;
        text-align: center !important;
        letter-spacing: 3px;
        font-family:$incon;
        display: block;
        width: 100%;
        padding-top: 25px;
      }
      img{
        height: auto;
        width: 500px;

        display: block;
        //border: 1px solid tomato;
      }
    }//end imgHold

  }//end banner
  .portfolio{
    height: auto;
    width: 100%;
    background-color: rgba(165,203,195,1);
    position: relative;
    overflow: hidden;
    padding: 5% 0;

    @media only screen and (max-width: 800px){
      padding: 0 0 5% 0;
      img{
        width:90% !important;
        margin: 0 !important;
        &:nth-child(1){
          margin-top: 5% !important;
        }

      }
      .imgRow{
        &:nth-child(2){
          margin-top: 0 !important;
        }
      }
    }//end 800px

    a{
      height: 100%;
      width: auto;
      padding:0;
    }

    .imgRow{

      width: 100%;
      height: auto;
      text-align: center;
      &:nth-child(2){
        //border: 5px solid lime;
        margin-top: 5%;
      }
      a{
        &:nth-child(n+2){

          margin-top: 5%;
        }
        &:nth-last-child(1){
          img{
            margin-right: 0 !important;
          }
        }
      }


      img{
        height: auto;
        width: 42.5%;
        &:nth-child(1){
          //border: 5px solid tomato;
          margin-right: 5%;
        }
      }

    }
  }//end portfolio

  .me{
    height: 100%;
    width: 100%;
    background-color: #F0C8B4;
    position: relative;

    p{
      height: 70px;
      width: 300px;
      position: absolute;
      top:0;left:0;right:0;bottom:0;margin:auto;
      //border: 1px solid black;
      text-align: center;
      font-family: $incon;
    }


  }//end me
  .services{
    height: 100%;
    width: 100%;
    //background-color: firebrick;
    background-color: #f0b4b4;
    position: relative;
    min-height: 450px;

   .ul {
    width: 200px;
    height: 290px;
    font-family: "Anonymous Pro", monospace;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100;
  }

   .li {
      width: 100%;
      font-size: 17px;
      line-height: 2em;
      opacity: 0;
      transform: scaleX(0.5);
      &:before{
       content: '.';
       display: block;
       margin: 0 auto;
       line-height: 1em;
     }
    }
  }//end services

  .footer{
    height: 100%;
    width: 100%;
    //background-color: goldenrod;
    //background-color: #ffffdb;
    //background-color: rgba(255,255,255,0.5);
    background-color: transparent;
    position: relative;
    min-height: 375px;

    .forCentering{
      top:0;left:0;right:0;bottom:0;margin: auto;
      height: 90px;
      width: 100px;
      //border: 1px solid black;
      position: absolute;
      .contact{
        top:0;left:0;right:0;margin: auto;
        position: absolute;
        font-family: $incon;
        color: black;
        text-align: center;
        border: 1px solid black;
        background-color: transparent;
        height: 50px;
        width: 100px;

        &:hover{
          cursor:pointer;
        }
        &:focus{
          outline:0;
        }

      }//end contact
      .resume{
        position: absolute;
        left:0;right:0;bottom:0;margin: auto;
        height: 20px;
        width: 80px;
        font-family: $incon;
        //text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 13px;
        color: white;
        text-align: center;
        //background-color: white;
      }//end resume
    }
    .social{
      position: absolute;
      bottom:90px;
      left:0;
      right: 0;
      margin: auto;
      height: 20px;
      //border: 1px solid black;
      width: 300px;
      a{
        color: black;
      }
      .li{
        &:nth-child(2){
          margin: 0 10px;
        }
      }
    }//end social

    #deer{
      position: absolute;
      bottom:20px;
      left:0;
      right:0;
      margin: auto;
      height: 30px;
      width: 30px;
    }
    .copyright {
      position: absolute;
      text-align: center;
      bottom: 60px;
      left: 0;
      right: 0;
      margin: auto;
      width: 100px;
      font-family: "Inconsolata", monospace;
      color: black;
      span {
       font-size: 19px;
     }
   }//end copyright

  }//end footer
}//end #shell
