*{
	list-style-type: none;
	text-decoration: none;
	margin:0;
	padding: 0;
	font-weight: normal !important;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
	}
.clearfix:after {
	clear: both;
}
html,
body{
	height: 100%;
	min-height: 100%;

}
body{
  background-color: tomato;
	position: relative;
}

/*
*	Modular code
*/

.cntr{
	display: block;
	margin: 0 auto;
}

.crcl{
	border-radius: 100%;
}

.ul{
	text-align: center;
}

.li{
	display: inline-block;
}

.title{
	text-align: center;
}
.noPoint{
	cursor: auto !important;
}

.noClick{
	 pointer-events: none;
}
.oScroll{
	overflow: scroll !important;
}
.oHide{
	overflow: hidden;
}




.yesOp{
	opacity: 1.0 !important;

}

.noOp{
	opacity:0.4;
}

.techHack{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
}


.nav{

  background-color: transparent;
  width: 100%;
	height:80px;
	margin-top: 30px;

	svg{
		height:75px;
		width:75px;
		background-color:rgba(0, 0, 0, 0.3);
		border-radius: 100%;
		float: left;
		margin-left: 30px;
		border: 2px solid #46C1F2;


	}
	ul{
		float: right;
		margin-right: 50px;
		background-color: beige;
		padding: 5px 10px;
		margin-top: 7px;
		background-color:rgba(0, 0, 0, 0.4);

	}
	li{
		&:nth-child(1){
			margin-bottom: 10px;
		}

	}
	 li a{
		color:#6ED0F6;
		text-align: right;
		font-size: 20px;
		font-family: 'Dosis', sans-serif;
		&:hover{
			color:white;
		}
		@media screen and (max-width:590px ){
			font-size: 15px;
		}



	 }


}
