$mono: 'Anonymous Pro', monospace;
$sans: 'Josefin Sans', sans-serif;
$slab: 'Josefin Slab', serif;

//same as bottom of hello
//$helloBeige: #c7a280;

//lighter than bottom of hello
$helloBeige: #E5BA92;
