/* definings */
/* global styles */
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: normal !important; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

html,
body {
  height: 100%;
  min-height: 100%; }

body {
  background-color: tomato;
  position: relative; }

/*
*	Modular code
*/
.cntr {
  display: block;
  margin: 0 auto; }

.crcl {
  border-radius: 100%; }

.ul {
  text-align: center; }

.li {
  display: inline-block; }

.title {
  text-align: center; }

.noPoint {
  cursor: auto !important; }

.noClick {
  pointer-events: none; }

.oScroll {
  overflow: scroll !important; }

.oHide {
  overflow: hidden; }

.yesOp {
  opacity: 1.0 !important; }

.noOp {
  opacity: 0.4; }

.techHack {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center; }

.nav {
  background-color: transparent;
  width: 100%;
  height: 80px;
  margin-top: 30px; }
  .nav svg {
    height: 75px;
    width: 75px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    float: left;
    margin-left: 30px;
    border: 2px solid #46C1F2; }
  .nav ul {
    float: right;
    margin-right: 50px;
    background-color: beige;
    padding: 5px 10px;
    margin-top: 7px;
    background-color: rgba(0, 0, 0, 0.4); }
  .nav li:nth-child(1) {
    margin-bottom: 10px; }
  .nav li a {
    color: #6ED0F6;
    text-align: right;
    font-size: 20px;
    font-family: 'Dosis', sans-serif; }
    .nav li a:hover {
      color: white; }
    @media screen and (max-width: 590px) {
      .nav li a {
        font-size: 15px; } }

/*Page Specifics*/
#home {
  /*==================================================================================BANNER*/
  /*==================================================================================DEVELOPER*/
  /*==================================================================================TECHNICAL*/
  /*==================================================================================DESIGNER*/
  /*==================================================================================ABOUT*/
  /*==================================================================================FOOTER*/ }
  #home .banner {
    overflow: hidden;
    background-image: url("../img/desk.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #home .banner .textHold {
      position: relative;
      overflow: hidden;
      top: 60%;
      -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
      transform: translateY(-60%);
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px;
      width: 750px; }
      @media only screen and (max-width: 825px) {
        #home .banner .textHold {
          width: 550px; } }
      @media only screen and (max-width: 590px) {
        #home .banner .textHold {
          width: 80%; } }
      @media only screen and (max-height: 540px) {
        #home .banner .textHold {
          top: 30%;
          -webkit-transform: translateY(-30%);
          -ms-transform: translateY(-30%);
          transform: translateY(-30%);
          background-color: black; } }
      @media only screen and (max-height: 420px) {
        #home .banner .textHold {
          top: 20%;
          -webkit-transform: translateY(-20%);
          -ms-transform: translateY(-20%);
          transform: translateY(-20%);
          background-color: black; } }
      #home .banner .textHold h1,
      #home .banner .textHold p {
        color: tomato;
        text-align: center; }
      #home .banner .textHold h1 {
        font-size: 40px;
        font-family: 'Megrim', Arial; }
        @media only screen and (max-width: 825px) {
          #home .banner .textHold h1 {
            font-size: 30px; } }
        @media only screen and (max-width: 590px) {
          #home .banner .textHold h1 {
            font-size: 25px; } }
        #home .banner .textHold h1 span {
          font-family: 'Courier New', Courier, monospace;
          font-size: 50px; }
          @media only screen and (max-width: 825px) {
            #home .banner .textHold h1 span {
              font-size: 40px; } }
          @media only screen and (max-width: 590px) {
            #home .banner .textHold h1 span {
              font-size: 25px; } }
      #home .banner .textHold p {
        font-size: 25px;
        font-weight: 100 !important;
        line-height: 1.5em;
        font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        @media only screen and (max-width: 825px) {
          #home .banner .textHold p {
            font-size: 20px; } }
        @media only screen and (max-width: 590px) {
          #home .banner .textHold p {
            font-size: 17px; } }
        @media only screen and (max-height: 355px) {
          #home .banner .textHold p {
            font-size: 15px; } }
        @media screen and (max-width: 569px) {
          #home .banner .textHold p {
            font-weight: 400 !important; } }
  #home .developer {
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: #46C1F2; }
    #home .developer p {
      font-family: 'Dosis', sans-serif; }
    #home .developer .devIconTop {
      height: auto;
      width: 220px;
      margin-top: 5%;
      vertical-align: top; }
      @media only screen and (max-width: 685px) {
        #home .developer .devIconTop:nth-child(1) {
          width: 150px; }
          #home .developer .devIconTop:nth-child(1) img {
            width: 125px; }
        #home .developer .devIconTop:nth-child(3) {
          width: 150px; }
          #home .developer .devIconTop:nth-child(3) img {
            width: 125px; } }
      @media only screen and (max-width: 550px) {
        #home .developer .devIconTop {
          display: block !important;
          margin: 20px auto 0 auto !important; }
          #home .developer .devIconTop img {
            margin-top: 20px !important; } }
      #home .developer .devIconTop:nth-child(2) {
        margin: 5% 5% 0 5%; }
        #home .developer .devIconTop:nth-child(2):hover {
          cursor: pointer; }
        #home .developer .devIconTop:nth-child(2) svg {
          margin-left: -5px; }
        @media only screen and (max-width: 975px) {
          #home .developer .devIconTop:nth-child(2) {
            margin: 5% 2.5% 0 2.5%; } }
        @media only screen and (max-width: 950px) {
          #home .developer .devIconTop:nth-child(2) {
            margin: 5% 1% 0 1%; } }
      #home .developer .devIconTop img {
        height: 150px;
        margin-top: 65px;
        width: 220px; }
        @media only screen and (max-width: 950px) {
          #home .developer .devIconTop img {
            height: 120px;
            width: 190px; } }
        @media only screen and (max-width: 685px) {
          #home .developer .devIconTop img {
            height: 80px;
            width: 150px; } }
      #home .developer .devIconTop p {
        max-width: 225px;
        margin-top: 20px;
        color: white; }
        @media only screen and (max-width: 325px) {
          #home .developer .devIconTop p {
            margin-top: 10px; } }
    #home .developer .ulWebType {
      padding-bottom: 100px; }
    #home .developer .webTypes {
      height: 100px;
      width: 150px;
      margin-top: 4%;
      vertical-align: middle;
      margin-bottom: 20px !important; }
      #home .developer .webTypes p {
        color: white;
        font-size: 16px; }
      #home .developer .webTypes svg {
        height: 100px;
        width: 150px;
        border: 2px solid white;
        background-color: inherit; }
      @media only screen and (max-width: 550px) {
        #home .developer .webTypes:nth-child(1) {
          display: inline-block;
          margin-right: 5% !important; }
        #home .developer .webTypes:nth-child(2) {
          display: inline-block;
          margin: 0 0 0 0 !important; }
        #home .developer .webTypes:nth-child(4) {
          display: inline-block;
          margin-right: 5% !important; }
        #home .developer .webTypes:nth-child(5) {
          display: inline-block;
          margin: 0 0 0 0 !important; } }
      @media only screen and (max-width: 325px) {
        #home .developer .webTypes:nth-child(-n+2), #home .developer .webTypes:nth-child(n+4) {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: 150px; }
        #home .developer .webTypes:nth-child(4) {
          padding-top: 20px; }
        #home .developer .webTypes:nth-child(1) {
          margin-top: 10px; } }
      #home .developer .webTypes:nth-child(3) {
        margin: 4% 5% 0 5%;
        height: 150px;
        width: 200px; }
        #home .developer .webTypes:nth-child(3) svg {
          height: 150px;
          width: 200px; }
        @media only screen and (max-width: 1100px) {
          #home .developer .webTypes:nth-child(3) {
            margin: 4% 2% 0 2%; } }
        @media only screen and (max-width: 950px) {
          #home .developer .webTypes:nth-child(3) {
            display: block;
            margin: 4% auto 0 auto; } }
      #home .developer .webTypes:nth-child(1) {
        margin-right: 5%; }
        @media only screen and (max-width: 1100px) {
          #home .developer .webTypes:nth-child(1) {
            margin-right: 3%; } }
        @media only screen and (max-width: 950px) {
          #home .developer .webTypes:nth-child(1) {
            margin-right: 25%; } }
      #home .developer .webTypes:nth-child(5) {
        margin-left: 5%; }
        @media only screen and (max-width: 1100px) {
          #home .developer .webTypes:nth-child(5) {
            margin-left: 3%; } }
        @media only screen and (max-width: 950px) {
          #home .developer .webTypes:nth-child(5) {
            margin-left: 25%; } }
  #home .technical {
    height: 150px;
    width: 100%;
    background-color: #4D4751;
    border: 1px solid  #4D4751;
    position: relative; }
    #home .technical .exit {
      height: 50px;
      width: 50px;
      background-color: transparent;
      color: white;
      border: 2px solid white;
      border-radius: 100%;
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
      font-size: 20px;
      font-family: Arial;
      margin: 20px 20px 0 0;
      display: none; }
      #home .technical .exit:hover {
        cursor: pointer;
        border: 2px solid #D1513A;
        color: #D1513A; }
      @media screen and (max-width: 325px) {
        #home .technical .exit {
          font-size: 15px;
          height: 40px;
          width: 40px;
          padding: 10px 0 0 13px;
          margin: 10px 10px 0 0; } }
    #home .technical .techTotal {
      height: 100px;
      width: 300px;
      background-color: #ff6347;
      margin-top: 25px; }
      #home .technical .techTotal:hover {
        cursor: pointer; }
      #home .technical .techTotal > p {
        color: beige;
        text-align: center;
        padding-top: 40px;
        font-size: 20px;
        padding-bottom: 20px; }
      #home .technical .techTotal .techCont {
        display: none;
        width: 90% !important;
        margin-bottom: 20px;
        background-color: #FD7C66;
        overflow-y: scroll !important;
        height: 80%;
        pointer-events: stroke !important; }
        @media screen and (max-height: 480px) {
          #home .technical .techTotal .techCont {
            height: 70%; } }
      #home .technical .techTotal .tldrHold {
        text-align: center;
        margin: 20px 0;
        height: auto; }
      #home .technical .techTotal .tldr,
      #home .technical .techTotal .tldrT {
        color: white;
        display: inline-block;
        vertical-align: middle;
        margin-right: 25px; }
      #home .technical .techTotal .tldr {
        font-size: 25px; }
      #home .technical .techTotal .tldrT {
        width: 60%;
        font-size: 20px;
        line-height: 1.5em;
        font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      #home .technical .techTotal .tTitle {
        color: beige;
        font-size: 25px;
        margin: 25px 0 10px 4%; }
      #home .technical .techTotal .tText {
        margin-left: 7%;
        line-height: 1.5em;
        color: #F7DBA3; }
      #home .technical .techTotal .langT {
        color: beige;
        text-align: center;
        font-size: 25px;
        margin: 40px 0 20px 0;
        letter-spacing: 2px; }
      #home .technical .techTotal .code ul {
        border: 2px solid black; }
      #home .technical .techTotal .code li:nth-child(1) {
        margin-right: 2%; }
        @media screen and (max-width: 785px) {
          #home .technical .techTotal .code li:nth-child(1) {
            margin: 0; } }
      #home .technical .techTotal .code li:nth-child(3) {
        margin: 0 2%; }
        @media screen and (max-width: 785px) {
          #home .technical .techTotal .code li:nth-child(3) {
            margin: 0; } }
      #home .technical .techTotal .code li:nth-child(5) {
        margin-left: 2%; }
        @media screen and (max-width: 785px) {
          #home .technical .techTotal .code li:nth-child(5) {
            margin: 0; } }
      #home .technical .techTotal .code img {
        height: 125px;
        width: 125px; }
  #home .designer {
    background-color: #4DC6A2;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: block; }
    #home .designer .leftMenu,
    #home .designer .rightCont {
      display: inline-block;
      vertical-align: top; }
    #home .designer .leftMenu {
      height: 100%;
      width: 30%;
      background-color: #43AA8B; }
      @media only screen and (max-width: 560px) {
        #home .designer .leftMenu {
          display: block;
          width: 100%;
          height: 100px; }
          #home .designer .leftMenu li {
            display: inline-block;
            vertical-align: middle; }
            #home .designer .leftMenu li:nth-child(2) {
              margin: 0 10px; } }
      #home .designer .leftMenu ul {
        position: relative;
        top: 15%;
        -webkit-transform: translateY(15%);
        -ms-transform: translateY(15%);
        transform: translateY(15%); }
        @media only screen and (max-height: 460px) {
          #home .designer .leftMenu ul {
            top: 10%;
            -webkit-transform: translateY(10%);
            -ms-transform: translateY(10%);
            transform: translateY(10%); } }
        @media only screen and (max-height: 355px) {
          #home .designer .leftMenu ul {
            top: 5%;
            -webkit-transform: translateY(5%);
            -ms-transform: translateY(5%);
            transform: translateY(5%); } }
        @media only screen and (max-width: 560px) {
          #home .designer .leftMenu ul {
            display: block;
            width: 100%;
            height: 100%; } }
        #home .designer .leftMenu ul li:hover {
          cursor: pointer; }
        #home .designer .leftMenu ul li:nth-child(-n+3) {
          margin-bottom: 20px; }
        #home .designer .leftMenu ul li p {
          position: relative;
          font-size: 22px;
          padding: 18px;
          border: 3px solid white;
          width: 200px;
          height: 70px;
          text-align: center;
          color: white;
          opacity: 0.2;
          font-family: 'Dosis', sans-serif; }
          @media only screen and (max-width: 750px) {
            #home .designer .leftMenu ul li p {
              width: 150px; } }
          @media only screen and (max-width: 560px) {
            #home .designer .leftMenu ul li p {
              font-size: 15px;
              width: 90px; } }
      @media only screen and (max-width: 750px) {
        #home .designer .leftMenu .pBtn4 {
          padding-top: 5px; } }
      @media only screen and (max-width: 560px) {
        #home .designer .leftMenu .pBtn4 {
          padding-top: 10px; }
        #home .designer .leftMenu .pBtn3 {
          padding-left: 10px; } }
    #home .designer .rightCont {
      width: 69%;
      height: 100%;
      overflow: scroll; }
      @media only screen and (max-width: 560px) {
        #home .designer .rightCont {
          display: block;
          width: 100%;
          height: 100% !important; } }
    #home .designer .desBtn3Cont,
    #home .designer .desBtn4Cont {
      display: none; }
    #home .designer .desBtn2Cont {
      position: relative;
      height: 100%;
      text-align: center; }
      #home .designer .desBtn2Cont h1 {
        width: 100%;
        text-align: center;
        color: white;
        position: absolute;
        top: 0;
        margin-top: 10%; }
        @media only screen and (max-width: 730px) {
          #home .designer .desBtn2Cont h1 {
            font-size: 20px; } }
        @media only screen and (max-height: 450px) {
          #home .designer .desBtn2Cont h1 {
            margin-top: 30px; } }
      #home .designer .desBtn2Cont h2 {
        color: white;
        position: absolute;
        bottom: 0;
        margin-bottom: 10%;
        width: 100%;
        text-align: center;
        font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; }
        @media only screen and (max-width: 730px) {
          #home .designer .desBtn2Cont h2 {
            font-size: 20px; } }
        @media only screen and (max-height: 450px) {
          #home .designer .desBtn2Cont h2 {
            margin-bottom: 30px; } }
        @media only screen and (max-width: 560px) {
          #home .designer .desBtn2Cont h2 {
            margin-bottom: 40%; } }
      #home .designer .desBtn2Cont span {
        color: blue; }
    #home .designer .desBtn3Cont .wideTitle {
      letter-spacing: 20px;
      text-align: center;
      font-size: 30px; }
      @media only screen and (max-width: 560px) {
        #home .designer .desBtn3Cont .wideTitle {
          letter-spacing: 10px; } }
    #home .designer .desBtn3Cont .pHold {
      color: white;
      font-size: 20px;
      margin-bottom: 40px;
      width: 75%; }
      @media only screen and (max-width: 560px) {
        #home .designer .desBtn3Cont .pHold {
          width: 85%; } }
      #home .designer .desBtn3Cont .pHold p {
        font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-top: 30px; }
        #home .designer .desBtn3Cont .pHold p:nth-child(3) {
          padding-bottom: 100px; }
        @media only screen and (max-width: 560px) {
          #home .designer .desBtn3Cont .pHold p {
            font-size: 20px;
            width: 100%; } }
    #home .designer .desBtn3Cont #container {
      margin: 60px 0; }
@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg); }
  to {
    -moz-transform: rotateX(360deg) rotateY(360deg); } }
@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg); } }
@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg); }
  to {
    -o-transform: rotateX(360deg) rotateY(360deg); } }
@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg); }
  to {
    -ms-transform: rotateX(360deg) rotateY(360deg); } }
@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg); }
  to {
    transform: rotateX(360deg) rotateY(360deg); } }
    #home .designer .desBtn3Cont #container {
      -webkit-perspective: 1000px;
      -moz-perspective: 1000px;
      -o-perspective: 1000px;
      -ms-perspective: 1000px;
      perspective: 1000px;
      -webkit-perspective-origin: 50% 50%;
      -moz-perspective-origin: 50% 50%;
      -moz-transform-origin: 50% 50%;
      -o-perspective-origin: 50% 50%;
      -ms-perspective-origin: 50% 50%;
      perspective-origin: 50% 50%; }
    #home .designer .desBtn3Cont .animate {
      -webkit-animation: spinningH 6s infinite linear;
      -moz-animation: spinningH 6s infinite linear;
      -o-animation: spinningH 6s infinite linear;
      -ms-animation: spinningH 6s infinite linear;
      animation: spinningH 6s infinite linear; }
    #home .designer .desBtn3Cont #cube {
      position: relative;
      margin: 0 auto;
      height: 100px;
      width: 100px;
      -webkit-transition: -webkit-transform 2s linear;
      -moz-transition: -moz-transform 2s linear;
      -o-transition: -o-transform 2s linear;
      -ms-transition: -ms-transform 2s linear;
      transition: transform 2s linear;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      transform-style: preserve-3d; }
    #home .designer .desBtn3Cont #cube > div {
      position: absolute;
      height: 100px;
      width: 100px;
      padding: 20px;
      opacity: 0.9;
      background-position: center center; }
    #home .designer .desBtn3Cont #cube div:nth-child(1) {
      -webkit-transform: translateZ(50px);
      -moz-transform: translateZ(50px);
      -o-transform: translateZ(50px);
      -ms-transform: translateZ(50px);
      transform: translateZ(50px);
      background-color: tomato;
      background-repeat: no-repeat; }
    #home .designer .desBtn3Cont #cube div:nth-child(2) {
      -webkit-transform: rotateY(90deg) translateZ(50px);
      -moz-transform: rotateY(90deg) translateZ(50px);
      -o-transform: rotateY(90deg) translateZ(50px);
      -ms-transform: rotateY(90deg) translateZ(50px);
      transform: rotateY(90deg) translateZ(50px);
      background-color: lightgreen;
      background-repeat: no-repeat; }
    #home .designer .desBtn3Cont #cube div:nth-child(3) {
      -webkit-transform: rotateY(180deg) translateZ(50px);
      -moz-transform: rotateY(180deg) translateZ(50px);
      -o-transform: rotateY(180deg) translateZ(50px);
      -ms-transform: rotateY(180deg) translateZ(50px);
      transform: rotateY(180deg) translateZ(50px);
      background-color: black;
      background-repeat: no-repeat; }
    #home .designer .desBtn3Cont #cube div:nth-child(4) {
      -webkit-transform: rotateY(-90deg) translateZ(50px);
      -moz-transform: rotateY(-90deg) translateZ(50px);
      -o-transform: rotateY(-90deg) translateZ(50px);
      -ms-transform: rotateY(-90deg) translateZ(50px);
      transform: rotateY(-90deg) translateZ(50px);
      background-color: aqua;
      background-repeat: no-repeat; }
    #home .designer .desBtn3Cont #cube div:nth-child(5) {
      -webkit-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
      -moz-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
      -o-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
      -ms-transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
      transform: rotateX(-90deg) translateZ(50px) rotate(180deg);
      background-color: orange;
      background-repeat: no-repeat; }
    #home .designer .desBtn3Cont #cube div:nth-child(6) {
      -webkit-transform: rotateX(90deg) translateZ(50px);
      -moz-transform: rotateX(90deg) translateZ(50px);
      -o-transform: rotateX(90deg) translateZ(50px);
      -ms-transform: rotateX(90deg) translateZ(50px);
      transform: rotateX(90deg) translateZ(50px);
      background-color: purple;
      background-repeat: no-repeat;
      text-align: center; }
    #home .designer .desBtn4Cont {
      height: 100%;
      width: 100%;
      overflow: hidden;
      background-image: url("../img/icons.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover; }
      #home .designer .desBtn4Cont p {
        font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 50px;
        color: black;
        position: relative; }
  #home .about {
    overflow: hidden;
    background-image: url("../img/polygon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    /*  inner pink text */
    /* top of input */
    /* input background */
    /* input line */
    /*label color after animation*/ }
    #home .about .imgHold,
    #home .about .abtText {
      display: block; }
    #home .about .abtCont {
      width: 45%;
      float: left;
      margin-left: 5%;
      margin-top: 50px;
      font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      #home .about .abtCont h1 {
        text-align: center; }
      @media screen and (max-width: 675px) {
        #home .about .abtCont {
          width: 90% !important;
          float: none !important;
          display: block !important; }
          #home .about .abtCont .abtText {
            width: 100% !important;
            text-align: center; }
          #home .about .abtCont .imgHold {
            height: 150px !important;
            width: 150px !important; } }
      #home .about .abtCont .imgHold {
        height: 250px;
        width: 250px;
        border: 3px solid white;
        border-radius: 100%; }
      #home .about .abtCont .abtText {
        width: 100%; }
    #home .about .formTotal {
      width: 50%;
      float: right; }
      @media screen and (max-width: 675px) {
        #home .about .formTotal {
          float: none;
          display: block;
          width: 100%; } }
    #home .about .container {
      margin: 0 auto;
      text-align: center;
      overflow: hidden; }
    #home .about .content {
      font-size: 150%;
      padding: 0 0 3em 0;
      background-color: inherit; }
    #home .about .input {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 0 1em 1em 1em;
      max-width: 250px;
      width: 250px;
      vertical-align: top; }
    #home .about .input__field {
      position: relative;
      display: block;
      float: right;
      padding: 0.8em;
      width: 60%;
      border: none;
      border-radius: 0;
      background: #f0f0f0;
      color: #aaa;
      font-weight: 400;
      font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-appearance: none;
      /* for box shadows to show on iOS */ }
    #home .about .input__field:focus {
      outline: none; }
    #home .about .input__label {
      display: inline-block;
      float: right;
      padding: 0 1em;
      width: 40%;
      color: #696969;
      font-weight: bold;
      font-size: 70.25%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #home .about .input__label-content {
      position: relative;
      display: block;
      padding: 1.6em 0;
      width: 100%; }
    #home .about .clearfix:before,
    #home .about .clearfix:after {
      content: '';
      display: table; }
    #home .about .clearfix:after {
      clear: both; }
    #home .about .input--nariko {
      overflow: hidden;
      padding-top: 2em; }
    #home .about .input__field--nariko {
      width: 100%;
      background: transparent;
      opacity: 0;
      padding: 0.35em;
      z-index: 100;
      /*color: #C73E1D;*/
      color: #6bb0ff; }
      @media only screen and (max-width: 1205px) {
        #home .about .input__field--nariko {
          margin-top: -20px; } }
    #home .about .input__label--nariko {
      width: 100%;
      bottom: 0;
      position: absolute;
      pointer-events: none;
      text-align: left;
      color: #1682FB;
      padding: 0 0.5em; }
    #home .about .input__label--nariko::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4em;
      top: 100%;
      left: 0;
      background: transparent;
      border-top: 4px solid #6bb0ff;
      -webkit-transform: translate3d(0, -3px, 0);
      transform: translate3d(0, -3px, 0);
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    #home .about .input__label-content--nariko {
      padding: 0.5em 0;
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transition: -webkit-transform 0.4s, color 0.4s;
      transition: transform 0.4s, color 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    #home .about .input__field--nariko:focus,
    #home .about .input--filled .input__field--nariko {
      cursor: text;
      opacity: 1;
      -webkit-transition: opacity 0s 0.4s;
      transition: opacity 0s 0.4s; }
    #home .about .input__field--nariko:focus + .input__label--nariko::before,
    #home .about .input--filled .input__label--nariko::before {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transform: translate3d(0, -3.3em, 0);
      transform: translate3d(0, -3.3em, 0); }
    #home .about .input__field--nariko:focus + .input__label--nariko .input__label-content--nariko,
    #home .about .input--filled .input__label-content--nariko {
      color: black;
      -webkit-transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
      transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1); }
    #home .about form textarea {
      height: 200px;
      width: 75%;
      display: block;
      margin: 0 auto;
      border: 2px solid #6bb0ff;
      background-color: transparent;
      color: #6bb0ff;
      padding: 20px;
      font-size: 24px;
      font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    #home .about form textarea:focus {
      outline: none; }
    #home .about form button {
      height: 70px;
      width: 220px;
      background-color: #19E8AA;
      border: none;
      color: white;
      margin-top: 5%;
      border-radius: 5px; }
  #home .footer {
    height: auto;
    background-color: tomato;
    overflow: hidden; }
    #home .footer p {
      font-size: 15px;
      color: black;
      font-family: 'Dosis', sans-serif; }
    #home .footer a {
      color: black;
      font-size: 20px;
      font-family: 'Dosis', sans-serif; }
    #home .footer .copyright {
      margin-bottom: 20px; }
    #home .footer .footerLinks {
      margin-top: 30px;
      margin-bottom: 30px; }
      #home .footer .footerLinks li a:hover {
        color: #F7EEA3; }
      #home .footer .footerLinks li:nth-child(2) {
        margin-left: 20px;
        margin-right: 20px; }
    #home .footer .footerIcons {
      margin-bottom: 20px; }
      #home .footer .footerIcons li:nth-child(2) {
        margin: 0 20px; }
        #home .footer .footerIcons li:nth-child(2) img {
          width: 30px; }
      #home .footer .footerIcons li img {
        height: 50px;
        width: 50px; }

#projects {
  background-color: gray;
  height: 500px;
  width: 100%; }
  #projects .s1 {
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif; }
    #projects .s1 h1 {
      font-size: 30px;
      color: black;
      text-align: center; }
    #projects .s1 .projLi {
      height: 240px;
      width: 240px; }
      #projects .s1 .projLi p {
        color: white;
        font-size: 20px;
        max-width: 190px;
        text-align: center;
        margin-top: 15px;
        color: #46C1F2; }
      #projects .s1 .projLi:nth-child(1) p {
        color: #FFA5A5; }
      #projects .s1 .projLi:nth-child(1) .hold:before {
        background-color: rgba(255, 165, 165, 0.4); }
      #projects .s1 .projLi:nth-child(2) p {
        color: #A5FFC0; }
      #projects .s1 .projLi:nth-child(2) .hold:before {
        background-color: rgba(165, 255, 192, 0.4); }
      #projects .s1 .projLi:nth-child(3) p {
        color: #46C1F2; }
      #projects .s1 .projLi:nth-child(3) .hold:before {
        background-color: rgba(70, 193, 242, 0.4); }
      #projects .s1 .projLi .hold {
        height: 200px;
        width: 200px;
        border-radius: 20px;
        border: 2px solid white;
        margin-top: 20px; }
      #projects .s1 .projLi .hold:before {
        content: "";
        height: 180px;
        width: 180px;
        border-radius: 20px;
        margin: 10px auto 0 auto;
        display: block;
        border: 2px dashed white;
        background-color: rgba(0, 0, 0, 0.3);
        background-repeat: no-repeat; }

#responce div {
  background-color: #A5FFC0;
  height: 100%;
  width: 100%; }
#responce p {
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%); }

/*
@import "pages/_services.scss";
@import "pages/_abilities.scss";
@import "pages/_about.scss";
@import "pages/_contact.scss";
@import "pages/_contactNext.scss";
*/

/*# sourceMappingURL=main.css.map */
