/* definings */
/* global styles */
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-weight: normal !important; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  min-height: 100%; }

/*
*	Modular code
*/
.cntr {
  display: block;
  margin: 0 auto; }

.crcl {
  border-radius: 100%; }

.ul {
  text-align: center; }

.li {
  display: inline-block; }

.title {
  text-align: center; }

.nopoint {
  cursor: auto !important; }

.noclick {
  pointer-events: none; }

.menuactive {
  color: white !important;
  margin-left: 10px !important; }

.oScroll {
  overflow: scroll; }

.oHide {
  overflow: hidden; }

body {
  background-color: #4894ea;
  height: 100%;
  overflow: hidden;
  /*
  @media only screen and (max-width:640px){
  	.header{
  		width: 130px;
  		
  	}
  
  }
  */
  	/*
  	@media only screen and (max-width:435px){
  		.main-cont{
  			width: 65%;
  		}
  
  	}
  	*/
  	/*
  	@media only screen and (max-width:400px){
  		.header{
  			width: 100% !important;
  		
  			height: 80px !important;
  		}
  		.logo{
  			float: left;
  			display: inline-block;
  			h1{
  				font-size: 20px;
  
  			}
  
  		}
  		.pagenav{
  			display: none !important;
  		}
  		.main-cont{
  			display: block !important;
  			margin: 0 auto !important;
  			width: 100% !important;
  		}
  		
  		.mobileBtn{
  			display: inline-block !important;
  			float: right !important;
  
  		}
  
  
  	}
  	*/ }
  @media only screen and (max-width: 850px) {
    body .logo h1 {
      font-size: 25px; }
      body .logo h1:nth-child(1) {
        margin-bottom: 25px; }
    body .pagenav li a,
    body .logo h1 a {
      margin-left: -5px; }
    body .pagenav li a {
      font-size: 18px !important; }
    body .pagenav li {
      margin-bottom: 10px !important; } }
  @media only screen and (max-width: 640px) {
    body .main-cont {
      width: 70%; } }
  body .header {
    display: block;
    width: 20%;
    height: 100%;
    float: left;
    position: relative; }
  body .logo h1 {
    font-family: 'Playfair Display', serif;
    margin-left: 20px; }
    body .logo h1:nth-child(2) {
      margin-top: -30px; }
  body .logo a {
    color: #254b77;
    margin-top: 0; }
  body .pagenav {
    position: relative; }
    body .pagenav ul {
      margin-top: 50px; }
      body .pagenav ul li {
        margin: 0 0 0 20px; }
      body .pagenav ul a {
        color: #8fb9ea;
        font-size: 15px; }
        body .pagenav ul a:hover {
          color: black; }
  @media only screen and (max-width: 615px) {
    body .header {
      width: 100% !important;
      height: 80px !important; }
    body .logo {
      float: left;
      display: inline-block; }
      body .logo h1 {
        font-size: 20px; }
    body .pagenav {
      display: none !important; }
    body .main-cont {
      display: block !important;
      margin: 0 auto !important;
      width: 100% !important; }
    body .mobileBtn {
      display: inline-block !important;
      float: right !important; } }
  body .mobileBtn {
    height: 50px;
    width: 50px;
    background-color: #4185D3;
    float: right !important;
    margin: 15px 15px 0 0;
    display: none; }
    body .mobileBtn .line1,
    body .mobileBtn .line2,
    body .mobileBtn .line3 {
      width: 30px;
      background-color: white;
      height: 2px;
      display: block;
      margin: 11px auto 0 auto; }
    body .mobileBtn:hover {
      cursor: pointer; }
  @media only screen and (min-width: 616px) {
    body .mobileItems {
      display: none !important; } }
  body .mobileItems {
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
    display: block;
    margin-left: 100px;
    width: 200px;
    overflow: hidden;
    position: absolute; }
    @media only screen and (max-width: 616px) {
      body .mobileItems {
        width: 300px;
        margin-top: 15px;
        margin-left: 25%; }
        body .mobileItems li {
          margin-right: 10px; } }
    @media only screen and (max-width: 460px) {
      body .mobileItems {
        width: 200px;
        margin: 0 0 0 150px; }
        body .mobileItems li:nth-child(2) {
          margin-left: -20px; }
        body .mobileItems li:nth-child(4) {
          margin-left: 0px; }
        body .mobileItems li:nth-child(odd) {
          margin: 0 30px 0 0; } }
    body .mobileItems li {
      display: inline-block;
      text-align: center;
      margin-top: 5px;
      /*
      			&:nth-child(2){
      				margin-left:-20px;
      			
      			}
      
      			&:nth-child(4){
      				margin-left: 0px;
      			}
      			&:nth-child(odd){
      				margin: 0 30px 0 0;
      				
      
      			}
      */ }
    body .mobileItems a {
      font-size: 17px;
      color: #8fb9ea; }
      body .mobileItems a:hover {
        color: black; }
  body .main-cont {
    width: 80%;
    height: 100%;
    display: block;
    float: right;
    background-color: #4EA1FF;
    overflow: scroll; }
    body .main-cont svg {
      fill: none;
      stroke-width: 2;
      stroke-linecap: round;
      stroke: #fff;
      height: 100%;
      width: 100%; }

/* Page Specifics */
#home .s1 {
  background-color: #4894ea;
  height: 100%;
  overflow: hidden; }
  #home .s1 .main-cont .svg-holder {
    width: 90%;
    height: 300px;
    margin-top: 5%; }
  #home .s1 .main-cont .cont-hold {
    width: 90%;
    height: 300px;
    /*background-color: #4869ea;*/
    background-color: #5ea9ff;
    /*
    *
    *
    *	styling for the demo
    89
    */
    /* Content */
    /* Related demos */
    /*
    *
    *
    *	direct components
    *
    */ }
    #home .s1 .main-cont .cont-hold p {
      line-height: 1.3em;
      font-size: 30px;
      color: white;
      text-align: center;
      position: relative;
      font-family: 'Poiret One', cursive; }
      #home .s1 .main-cont .cont-hold p:nth-child(1) {
        padding-top: 50px; }
    #home .s1 .main-cont .cont-hold .content {
      height: 50px;
      width: 100px;
      display: block;
      margin: 0 auto; }
    #home .s1 .main-cont .cont-hold .content:hover {
      cursor: pointer; }
    #home .s1 .main-cont .cont-hold .cbutton {
      position: relative;
      display: inline-block;
      margin: 1em;
      padding: 0;
      border: none;
      background: none;
      color: #286aab;
      /**/
      font-size: 1.4em;
      overflow: visible;
      -webkit-transition: color 0.7s;
      transition: color 0.7s;
      -webkit-tap-highlight-color: transparent; }
    #home .s1 .main-cont .cont-hold .cbutton.cbutton--click,
    #home .s1 .main-cont .cont-hold .cbutton:focus {
      outline: none;
      color: #3c8ddc;
      /**/ }
    #home .s1 .main-cont .cont-hold .cbutton__icon {
      display: block; }
    #home .s1 .main-cont .cont-hold .cbutton__text {
      position: absolute;
      opacity: 0;
      pointer-events: none; }
    #home .s1 .main-cont .cont-hold .cbutton::after {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -35px 0 0 -35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      content: '';
      opacity: 0;
      pointer-events: none; }
    #home .s1 .main-cont .cont-hold .cbutton--box {
      width: 24px;
      height: 24px;
      border: 4px solid #16232f;
      /**/ }
    #home .s1 .main-cont .cont-hold .hidden {
      position: absolute;
      pointer-events: none;
      width: 0;
      height: 0;
      overflow: hidden; }
    #home .s1 .main-cont .cont-hold .content {
      padding: 3em 0; }
    #home .s1 .main-cont .cont-hold .box {
      padding: 1em;
      min-height: 240px;
      text-align: center; }
    #home .s1 .main-cont .cont-hold .box__title span {
      display: block;
      letter-spacing: 0;
      font-size: 75%;
      padding-top: 1em; }
    #home .s1 .main-cont .cont-hold .content--related {
      text-align: center;
      color: #D8DADB;
      font-weight: bold; }
    #home .s1 .main-cont .cont-hold .media-item {
      display: inline-block;
      -webkit-transition: color 0.3s;
      transition: color 0.3s; }
    #home .s1 .main-cont .cont-hold .media-item__img {
      opacity: 0.3;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s; }
    #home .s1 .main-cont .cont-hold .media-item:hover .media-item__img,
    #home .s1 .main-cont .cont-hold .media-item:focus .media-item__img {
      opacity: 1; }
    #home .s1 .main-cont .cont-hold .media-item__title {
      font-size: 1em;
      margin: 0;
      padding: 0.5em; }
    #home .s1 .main-cont .cont-hold .cbutton--effect-milan::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -35px 0 0 -35px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      opacity: 0;
      pointer-events: none; }
    #home .s1 .main-cont .cont-hold .cbutton--effect-milan::after,
    #home .s1 .main-cont .cont-hold .cbutton--effect-milan::before {
      border: 4px solid #2d4a93;
      /**    THIS IS THE MOTHERFUCKING COLORRRRRRR   **/ }
    #home .s1 .main-cont .cont-hold .cbutton--effect-milan::after {
      -webkit-animation-name: anim-effect-milan-3, anim-effect-milan-1;
      animation-name: anim-effect-milan-3, anim-effect-milan-1;
      -moz-animation-name: anim-effect-milan-3, anim-effect-milan-1;
      -ms-animation-name: anim-effect-milan-3, anim-effect-milan-1;
      -webkit-animation-duration: 5s, 2s;
      animation-duration: 5s, 2s;
      -moz-animation-duration: 5s, 2s;
      -ms-animation-duration: 5s, 2s;
      -webkit-animation-iteration-count: 20, infinite;
      animation-iteration-count: 20, infinite;
      -moz-animation-iteration-count: 20, infinite;
      -ms-animation-iteration-count: 20, infinite;
      -webkit-animation-timing-function: ease, linear;
      animation-timing-function: ease, linear;
      -moz-animation-timing-function: ease, linear;
      -ms-animation-timing-function: ease, linear;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards; }
    #home .s1 .main-cont .cont-hold .cbutton--effect-milan::before {
      -webkit-animation-name: anim-effect-milan-3, anim-effect-milan-2;
      animation-name: anim-effect-milan-3, anim-effect-milan-2;
      -moz-animation-name: anim-effect-milan-3, anim-effect-milan-2;
      -ms-animation-name: anim-effect-milan-3, anim-effect-milan-2;
      -webkit-animation-duration: 5s, 2s;
      animation-duration: 5s, 2s;
      -moz-animation-duration: 5s, 2s;
      -ms-animation-duration: 5s, 2s;
      -webkit-animation-iteration-count: 20, infinite;
      animation-iteration-count: 20, infinite;
      -moz-animation-iteration-count: 20, infinite;
      -ms-animation-iteration-count: 20, infinite;
      -webkit-animation-timing-function: ease, linear;
      animation-timing-function: ease, linear;
      -moz-animation-timing-function: ease, linear;
      -ms-animation-timing-function: ease, linear;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards; }
@-webkit-keyframes anim-effect-milan-1 {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
    transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
    -moz-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
    -ms-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg); }
  100% {
    -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
    transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
    -moz-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
    -ms-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg); } }
@keyframes anim-effect-milan-1 {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
    transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
    -moz-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
    -ms-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg); }
  100% {
    -webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
    transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
    -moz-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
    -ms-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg); } }
@-webkit-keyframes anim-effect-milan-2 {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
    transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
    -moz-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
    -ms-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg); }
  100% {
    -webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
    transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
    -moz-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
    -ms-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg); } }
@keyframes anim-effect-milan-2 {
  0% {
    -webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
    transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
    -moz-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
    -ms-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg); }
  100% {
    -webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
    transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
    -moz-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
    -ms-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg); } }
@-webkit-keyframes anim-effect-milan-3 {
  0%, 100% {
    opacity: 1; } }
@-moz-keyframes anim-effect-milan-3 {
  0%, 100% {
    opacity: 1; } }
@-ms-keyframes anim-effect-milan-3 {
  0%, 100% {
    opacity: 1; } }
@keyframes anim-effect-milan-3 {
  0%, 100% {
    opacity: 1; } }
#services .s1 {
  background-color: #4894ea;
  height: 100%;
  overflow: scroll; }
  #services .s1 .main-cont ul {
    margin-top: 3%; }
  #services .s1 .main-cont li {
    height: 280px;
    width: 220px;
    vertical-align: top; }
    #services .s1 .main-cont li:nth-child(2) {
      margin: 0 3%; }
    #services .s1 .main-cont li:nth-child(3) svg {
      visibility: hidden; }
    #services .s1 .main-cont li:nth-child(4) {
      display: block;
      margin: 3% auto 100px auto; }
      #services .s1 .main-cont li:nth-child(4) p {
        margin-bottom: 100px; }
    #services .s1 .main-cont li div {
      height: 190px;
      width: 190px;
      background-color: inherit;
      border: 3px solid white;
      margin-top: 3%;
      border-radius: 100%; }
    #services .s1 .main-cont li p {
      margin-top: 20px;
      color: white;
      font-size: 25px;
      font-family: 'Megrim', arial;
      padding: 15px;
      background-color: #A7D49B; }
      #services .s1 .main-cont li p:hover {
        background-color: #EA5454;
        transition: 1.5s;
        border-radius: 100px;
        color: black; }

#abilities .s1 {
  background-color: #4894ea;
  height: 100%;
  overflow: hidden; }
  #abilities .s1 .main-cont .item1 {
    background-color: #75d189; }
    #abilities .s1 .main-cont .item1 .item1-cont {
      display: none;
      height: auto;
      overflow: scroll;
      background-color: inherit; }
      #abilities .s1 .main-cont .item1 .item1-cont li {
        height: auto;
        width: 180px;
        margin-top: 10%; }
        #abilities .s1 .main-cont .item1 .item1-cont li:nth-child(-n+4) {
          margin-right: 5%; }
        #abilities .s1 .main-cont .item1 .item1-cont li:nth-child(5) {
          border-radius: 0; }
      #abilities .s1 .main-cont .item1 .item1-cont img {
        height: 180px;
        width: 180px; }
      #abilities .s1 .main-cont .item1 .item1-cont p {
        color: black;
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 30px; }
  #abilities .s1 .main-cont .item2 {
    background-color: #4cb963; }
    #abilities .s1 .main-cont .item2 .item2-cont {
      height: auto;
      display: none;
      overflow: scroll;
      background-color: inherit;
      line-height: 2em; }
      #abilities .s1 .main-cont .item2 .item2-cont h2 {
        margin-left: 15%;
        margin-top: 30px;
        color: #398c4b; }
      #abilities .s1 .main-cont .item2 .item2-cont .lastP {
        margin-bottom: 30px; }
      #abilities .s1 .main-cont .item2 .item2-cont p {
        margin-left: 20%;
        margin-top: 10px;
        border-left: 5px solid #5de27a;
        padding-left: 10px;
        color: white;
        max-width: 70%; }
        @media only screen and (max-width: 600px) {
          #abilities .s1 .main-cont .item2 .item2-cont p {
            max-width: 65%;
            background-color: tomato; } }
  #abilities .s1 .main-cont .item3 {
    background-color: #3e9952; }
    #abilities .s1 .main-cont .item3 .item3-cont {
      display: none;
      height: auto;
      overflow: scroll;
      background-color: inherit; }
      #abilities .s1 .main-cont .item3 .item3-cont ul li {
        background-color: #4ab561;
        width: 30%;
        height: auto;
        margin-top: 2%;
        padding-top: 5px;
        vertical-align: top;
        margin-bottom: 50px; }
        #abilities .s1 .main-cont .item3 .item3-cont ul li h2 {
          color: white;
          margin-top: 10px; }
        #abilities .s1 .main-cont .item3 .item3-cont ul li p {
          text-align: left;
          display: block;
          margin: 10px auto 0 auto;
          width: 90%;
          color: #91eaa4;
          padding-bottom: 24px;
          font-size: 17px;
          line-height: 1.5em; }
        #abilities .s1 .main-cont .item3 .item3-cont ul li:nth-child(1) {
          display: block;
          margin: 0 auto;
          width: 40%;
          height: auto;
          padding-bottom: 2%; }
        #abilities .s1 .main-cont .item3 .item3-cont ul li:nth-child(3) {
          margin: 2% 2% 0 2%; }
        @media only screen and (max-width: 700px) {
          #abilities .s1 .main-cont .item3 .item3-cont ul li:nth-child(1) {
            width: 90%; }
          #abilities .s1 .main-cont .item3 .item3-cont ul li:nth-child(n+2):nth-child(-n+3) {
            display: block;
            width: 70%;
            margin: 10px auto 0 auto; }
          #abilities .s1 .main-cont .item3 .item3-cont ul li:nth-child(4) {
            width: 90%; } }
  #abilities .s1 .exit {
    display: none;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: transparent;
    border: 2px solid white;
    z-index: 1000;
    left: 92%;
    top: 20px; }
    @media only screen and (max-width: 800px) {
      #abilities .s1 .exit {
        left: 90%; } }
    @media only screen and (max-width: 600px) {
      #abilities .s1 .exit {
        height: 40px;
        width: 40px;
        top: 25px; }
        #abilities .s1 .exit h1 {
          font-size: 20px; } }
    @media only screen and (max-width: 500px) {
      #abilities .s1 .exit {
        left: 85%; } }
    #abilities .s1 .exit:hover {
      background-color: #4EA1FF;
      border-radius: 2px solid white;
      cursor: pointer; }
      #abilities .s1 .exit:hover h1 {
        color: white; }
    #abilities .s1 .exit h1 {
      text-align: center;
      color: white;
      margin-top: 10px;
      font-family: 'Josefin Sans', sans-serif; }
  #abilities .s1 .item1,
  #abilities .s1 .item2,
  #abilities .s1 .item3 {
    height: 100px;
    width: 80%;
    margin-top: 10%; }
    #abilities .s1 .item1:hover,
    #abilities .s1 .item2:hover,
    #abilities .s1 .item3:hover {
      cursor: pointer; }
    #abilities .s1 .item1 h1,
    #abilities .s1 .item2 h1,
    #abilities .s1 .item3 h1 {
      color: white;
      padding-top: 28px;
      margin-left: 5% !important;
      margin-top: 0;
      font-family: 'Playfair Display', serif;
      font-size: 28px; }

#about .s1 {
  background-color: #4894ea;
  height: 100%;
  overflow: scroll; }
  #about .s1 .main-cont ul {
    position: relative;
    display: block;
    margin: 0 auto 0 auto;
    width: 90%; }
    #about .s1 .main-cont ul li {
      vertical-align: middle; }
      #about .s1 .main-cont ul li img {
        background-color: inherit;
        height: 200px;
        width: 200px;
        border: 5px solid tomato;
        border-radius: 100%;
        margin-top: 10%; }
      #about .s1 .main-cont ul li:nth-child(2) {
        overflow: scroll;
        width: 60%;
        margin-left: 6%;
        margin-top: 5%;
        padding-bottom: 50px; }
      #about .s1 .main-cont ul li p {
        text-align: left;
        line-height: 1.5em;
        font-size: 18px;
        margin-top: 10px;
        color: white;
        font-family: 'Poiret One', sans-serif; }
    @media only screen and (max-width: 838px) {
      #about .s1 .main-cont ul li:nth-child(2) {
        margin-left: 0;
        width: 90%; } }
    @media only screen and (max-width: 615px) {
      #about .s1 .main-cont ul li:nth-child(2) {
        width: 100%; } }

#contact .s1 {
  background-color: #4894ea;
  height: 100%;
  overflow: scroll; }
  #contact .s1 .bannerText {
    width: 90%;
    margin-top: 5%;
    font-family: 'Poiret One', serif;
    color: white;
    padding: 20px;
    background-color: #6bb0ff; }
    #contact .s1 .bannerText h1 {
      text-align: center;
      line-height: 1.5em;
      margin-top: 0; }
  #contact .s1 .available h2 {
    text-align: center;
    border-radius: 100px;
    color: #CDBAF4;
    padding: 20px;
    background-color: #9678D3;
    width: 70%;
    margin-top: 2.5%;
    font-family: 'Playfair display', sans-serif; }
  #contact .s1 .main-cont {
    /*  inner pink text */
    /* top of input */
    /* input background */
    /* input line */
    /*label color after animation*/ }
    #contact .s1 .main-cont .container {
      margin: 0 auto;
      text-align: center;
      overflow: hidden; }
    #contact .s1 .main-cont .content {
      font-size: 150%;
      padding: 0 0 3em 0;
      background-color: inherit; }
    #contact .s1 .main-cont .input {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 0 1em 1em 1em;
      max-width: 250px;
      width: 250px;
      vertical-align: top; }
    #contact .s1 .main-cont .input__field {
      position: relative;
      display: block;
      float: right;
      padding: 0.8em;
      width: 60%;
      border: none;
      border-radius: 0;
      background: #f0f0f0;
      color: #aaa;
      font-weight: 400;
      font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-appearance: none;
      /* for box shadows to show on iOS */ }
    #contact .s1 .main-cont .input__field:focus {
      outline: none; }
    #contact .s1 .main-cont .input__label {
      display: inline-block;
      float: right;
      padding: 0 1em;
      width: 40%;
      color: #696969;
      font-weight: bold;
      font-size: 70.25%;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #contact .s1 .main-cont .input__label-content {
      position: relative;
      display: block;
      padding: 1.6em 0;
      width: 100%; }
    #contact .s1 .main-cont .clearfix:before,
    #contact .s1 .main-cont .clearfix:after {
      content: '';
      display: table; }
    #contact .s1 .main-cont .clearfix:after {
      clear: both; }
    #contact .s1 .main-cont .input--nariko {
      overflow: hidden;
      padding-top: 2em; }
    #contact .s1 .main-cont .input__field--nariko {
      width: 100%;
      background: transparent;
      opacity: 0;
      padding: 0.35em;
      z-index: 100;
      color: white; }
    #contact .s1 .main-cont .input__label--nariko {
      width: 100%;
      bottom: 0;
      position: absolute;
      pointer-events: none;
      text-align: left;
      color: black;
      padding: 0 0.5em; }
    #contact .s1 .main-cont .input__label--nariko::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4em;
      top: 100%;
      left: 0;
      background: #6bb0ff;
      border-top: 4px solid white;
      -webkit-transform: translate3d(0, -3px, 0);
      transform: translate3d(0, -3px, 0);
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    #contact .s1 .main-cont .input__label-content--nariko {
      padding: 0.5em 0;
      -webkit-transform-origin: 0% 100%;
      transform-origin: 0% 100%;
      -webkit-transition: -webkit-transform 0.4s, color 0.4s;
      transition: transform 0.4s, color 0.4s;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
    #contact .s1 .main-cont .input__field--nariko:focus,
    #contact .s1 .main-cont .input--filled .input__field--nariko {
      cursor: text;
      opacity: 1;
      -webkit-transition: opacity 0s 0.4s;
      transition: opacity 0s 0.4s; }
    #contact .s1 .main-cont .input__field--nariko:focus + .input__label--nariko::before,
    #contact .s1 .main-cont .input--filled .input__label--nariko::before {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
      -webkit-transform: translate3d(0, -3.3em, 0);
      transform: translate3d(0, -3.3em, 0); }
    #contact .s1 .main-cont .input__field--nariko:focus + .input__label--nariko .input__label-content--nariko,
    #contact .s1 .main-cont .input--filled .input__label-content--nariko {
      color: white;
      -webkit-transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1);
      transform: translate3d(0, -3.3em, 0) scale3d(0.81, 0.81, 1); }
  #contact .s1 form textarea {
    height: 300px;
    width: 70%;
    display: block;
    margin: 0 auto;
    border: 1px solid #4894ea;
    background-color: #6bb0ff;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-family: 'Poiret One', serif; }
  #contact .s1 form button {
    height: 70px;
    width: 220px;
    background-color: #19E8AA;
    border: none;
    color: white;
    margin-top: 5%;
    border-radius: 5px; }
    #contact .s1 form button:hover {
      border-radius: 100px;
      border: 5px solid #15C18E;
      transition: 1s;
      letter-spacing: 5px; }

.messageCont {
  height: 150px;
  width: 90%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .messageCont .theCont li {
    vertical-align: middle; }
    .messageCont .theCont li img {
      height: 125px;
      width: 125px;
      border-radius: 100%; }
  .messageCont .theCont .pCool {
    position: relative;
    color: white;
    font-size: 35px;
    z-index: -200;
    margin-left: 50px;
    font-family: 'Poiret one', sans-serif; }
    @media only screen and (max-width: 528px) {
      .messageCont .theCont .pCool {
        margin-left: 0; } }

/*# sourceMappingURL=main.css.map */
