#about{
	.s1{
		@include setup($Bod, 100% ,scroll);
		.main-cont{

			ul{
				
				position: relative;
				display: block;
				margin: 0 auto 0 auto;
				width: 90%;

		
			li{
				vertical-align: middle;

				img{
					@include imgCont(200px, 200px, inherit, 5px solid tomato);
					border-radius: 100%;
					margin-top:10%;
				}
				&:nth-child(2){
					overflow: scroll;
					width: 60%;
					margin-left: 6%;
					margin-top:5%;
					padding-bottom: 50px;
				}

				p{
					text-align: left;
					line-height: 1.5em;
					font-size: 18px;
					margin-top: 10px;
					color: white;
					font-family: 'Poiret One', sans-serif;
					
					

				}
				
			  }
			  @media only screen and(max-width:838px ){
			  	li{
			  		&:nth-child(2){
			  			margin-left:0;
			  			width: 90%;
			  		}
			  	}
			  }

			  @media only screen and(max-width:615px ){
			  	li{
			  		&:nth-child(2){
			  			width:100%;
			  		}
			  	}

			  }

			  
			}
		}
	}
}