#about{
	.s1{
		@include setup($Bod, 100% ,scroll);
		.main-cont{

			ul{
				
				position: relative;
				display: block;
				margin: 0 auto;
				width: 90%;
			    top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
		        transform: translateY(-50%);

			li{
				vertical-align: middle;
				img{
					@include imgCont(200px, 200px, inherit, 5px solid tomato);
					border-radius: 100%;
				}
				&:nth-child(2){
					height:auto;
					width: 50%;
					margin-left: 6%;
				}

				p{
					text-align: left;
					line-height: 1.5em;
					font-size: 18px;
					margin-top: 10px;
					color: white;
					font-family: 'Poiret One', sans-serif;
					
					

				}
				
			  }

			  @media only screen and (max-width:650px ){
			  	

			  	li{
			  		&:nth-child(2){
				  		width: 90%;
				  		margin: 25px auto 0 auto;
				  		p{
				  		
				  		display: block;
				  		margin: 10px auto 0 auto;
				  		height: auto;
					  	}
				  	}

					 
			  	}
			  	
			  }
			}
		}
	}
}