.messageCont{
	height:150px;
	width:90%;

	 position: relative;
 	 top: 50%;
 	 -webkit-transform: translateY(-50%);
 	 -ms-transform: translateY(-50%);
          transform: translateY(-50%);

	.theCont{

		li{
			vertical-align: middle;
			


			img{
				height:125px;
				width: 125px;
				border-radius: 100%;
			}
		}
		.pCool{
			position: relative;
			color: white;
			font-size: 35px;
			z-index: -200;
			margin-left: 50px;
			font-family: 'Poiret one', sans-serif;
			
			@media only screen and(max-width: 528px){
				margin-left:0;
				
			}
		}
		
	}
	
}
	
