#home{
	.s1{
		@include setup($Bod, 100% ,hidden);
		
		.main-cont{
			

			.svg-holder{
				width: 90%;
				
				height:300px;
				margin-top: 5%;
			}
			.cont-hold{
				width: 90%;
				height:300px;
				/*background-color: #4869ea;*/
				background-color: #5ea9ff;

				p{
					line-height: 1.3em;
					font-size: 30px;
					
					color:white;
					
					text-align: center;
					position: relative;
					font-family: 'Poiret One', cursive;

					&:nth-child(1){
						
						padding-top: 50px;


					}


				}
				.content{
					
					height: 50px;
					width: 100px;
					display: block;
					margin: 0 auto;
				}
				.content:hover{
					cursor: pointer;
				}

				.cbutton {
				position: relative;
				display: inline-block;
				margin: 1em;
				padding: 0;
				border: none;
				background: none;
				color: #286aab;				/**/
				font-size: 1.4em;
				overflow: visible;
				-webkit-transition: color 0.7s;
				transition: color 0.7s;
				-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			}

			.cbutton.cbutton--click,
			.cbutton:focus {
				outline: none;
				color: #3c8ddc;				/**/
			}

			.cbutton__icon {
				display: block;
			}

			.cbutton__text {
				position: absolute;
				opacity: 0;
				pointer-events: none;
			}

			.cbutton::after {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -35px 0 0 -35px;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				content: '';
				opacity: 0;
				pointer-events: none;
			}

			.cbutton--box {
				width: 24px;
				height: 24px;
				border: 4px solid rgb(22, 35, 47);	/**/
			}
		/*
		*
		*
		*	styling for the demo
		89
		*/

		.hidden {
				position: absolute;
				pointer-events: none;
				width: 0;
				height: 0;
				overflow: hidden;
			}

			

			

			/* Content */
			.content {
				padding: 3em 0;
			}

			.box {
				padding: 1em;
				min-height: 240px;
				text-align: center;
			}

			

			.box__title span {
				display: block;
				letter-spacing: 0;
				font-size: 75%;
				padding-top: 1em;
			}

			/* Related demos */
			.content--related {
				text-align: center;
				color: #D8DADB;
				font-weight: bold;
			}

			.media-item {
				display: inline-block;
				
				-webkit-transition: color 0.3s;
				transition: color 0.3s;
			}

			.media-item__img {
				opacity: 0.3;
				-webkit-transition: opacity 0.3s;
				transition: opacity 0.3s;
			}

			.media-item:hover .media-item__img,
			.media-item:focus .media-item__img {
				opacity: 1;
			}

			.media-item__title {
				font-size: 1em;
				margin: 0;
				padding: 0.5em;
			}

			


		/*
		*
		*
		*	direct components
		*
		*/
			.cbutton--effect-milan::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -35px 0 0 -35px;
				width: 70px;
				height: 70px;
				border-radius: 50%;
				opacity: 0;
				pointer-events: none;
			}

			.cbutton--effect-milan::after,
			.cbutton--effect-milan::before {
				border: 4px solid #2d4a93; 
											/**    THIS IS THE MOTHERFUCKING COLORRRRRRR   **/
			}

			.cbutton--effect-milan::after {
				-webkit-animation-name: anim-effect-milan-3, anim-effect-milan-1;
				animation-name: anim-effect-milan-3, anim-effect-milan-1;
				-moz-animation-name:anim-effect-milan-3, anim-effect-milan-1;
				-ms-animation-name:anim-effect-milan-3, anim-effect-milan-1;

				-webkit-animation-duration: 5s, 2s;
				animation-duration: 5s, 2s;
				-moz-animation-duration: 5s, 2s;
				-ms-animation-duration: 5s, 2s;

				-webkit-animation-iteration-count: 20, infinite;
				animation-iteration-count: 20, infinite;
				-moz-animation-iteration-count: 20, infinite;
				-ms-animation-iteration-count: 20, infinite;

				-webkit-animation-timing-function: ease, linear;
				animation-timing-function: ease, linear;
				-moz-animation-timing-function: ease, linear;
				-ms-animation-timing-function: ease, linear;

				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;

			}

			.cbutton--effect-milan::before {
				-webkit-animation-name: anim-effect-milan-3, anim-effect-milan-2;
				animation-name: anim-effect-milan-3, anim-effect-milan-2;
				-moz-animation-name: anim-effect-milan-3, anim-effect-milan-2;
				-ms-animation-name: anim-effect-milan-3, anim-effect-milan-2;

				-webkit-animation-duration: 5s, 2s;
				animation-duration: 5s, 2s;
				-moz-animation-duration: 5s, 2s;
				-ms-animation-duration: 5s, 2s;

				-webkit-animation-iteration-count: 20, infinite;
				animation-iteration-count: 20, infinite;
				-moz-animation-iteration-count: 20, infinite;
				-ms-animation-iteration-count: 20, infinite;

				-webkit-animation-timing-function: ease, linear;
				animation-timing-function: ease, linear;
				-moz-animation-timing-function: ease, linear;
				-ms-animation-timing-function: ease, linear;

				-webkit-animation-fill-mode: forwards;
				animation-fill-mode: forwards;
				-moz-animation-fill-mode: forwards;
				-ms-animation-fill-mode: forwards;
			}

			@-webkit-keyframes anim-effect-milan-1 {
				0% {
					-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
					transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
					-moz-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
					-ms-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
				}
				100% {
					-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
					transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
					-moz-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
					-ms-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
				}
			}

			@keyframes anim-effect-milan-1 {
				0% {
					-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
					transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
					-moz-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
					-ms-transform: perspective(1000px) rotate3d(1, 1, 1, 0deg);
				}
				100% {
					-webkit-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
					transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
					-moz-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
					-ms-transform: perspective(1000px) rotate3d(1, 1, 1, 360deg);
				}
			}

			@-webkit-keyframes anim-effect-milan-2 {
				0% {
					-webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
					transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
					-moz-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
					-ms-transform: perspective(1000px) rotate3d(-1, -1, -1, 0deg);
				}
				100% {
					-webkit-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
					transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
					-moz-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
					-ms-transform: perspective(1000px) rotate3d(-1, -1, -1, 360deg);
				}
			}

			@keyframes anim-effect-milan-2 {
				0% {
					-webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
					transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
					-moz-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
					-ms-transform: perspective(1000px) rotate3d(1, -1, 1, 0deg);
				}
				100% {
					-webkit-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
					transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
					-moz-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
					-ms-transform: perspective(1000px) rotate3d(1, -1, 1, 360deg);
				}
			}

			@-webkit-keyframes anim-effect-milan-3 {
				0%, 100% {
					opacity: 1;
				
				}
			}

			@-moz-keyframes anim-effect-milan-3 {
				0%, 100% {
					opacity: 1;
				
				}
			}
			@-ms-keyframes anim-effect-milan-3 {
				0%, 100% {
					opacity: 1;
				
				}
			}
			@keyframes anim-effect-milan-3 {
				0%, 100% {
					opacity: 1;
				}
			}
			
			}
			
		}



	}
}