#home{

  .lineHold{
  	position: fixed;
  	height: 40px;
  	width: 40px;
  	top:25px;
  	right:25px;
  	border: none;
  	z-index: 399;
  	background-color: #669BBC;

  .line1,
  .line2,
  .line3{
  	height: 1px;
  	width: 20px;
  	background-color: black;
  	display: block;
  	margin: 0 auto;
  	position: relative;
    z-index: 399;
  }

  .line1{
  	margin-top: 10px;
  }
  .line2,
  .line3{
  	margin-top: 8px;
  }
  }
  .exit{
  	background-color: transparent;
  }

/*==================================================================================BANNER*/
  .banner{
    overflow: hidden;
    background-color: #3F3536;
    @media only screen and (max-width: 700px){
      height: 600px !important;
    }
    canvas{
      @media only screen and (max-width: 700px){
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      z-index: 0;

        height: 600px !important;
      }
    }
    .replacementDeer{
      position: absolute;
      height: 300px;
      width:300px;
      display:none;

      @media only screen and (max-width: 815px){
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        width: 200px;
        left:0;
        right: 0;
        top: 50px;


      }
      @media only screen and (max-width: 700px){
        display: block;
        position: relative;
        margin: 0 auto 0 auto;
        top: 0;
        left:0;
        right:0;
        bottom:0;
        height: 250px;
        width: 250px;
      }
      @media only screen and (max-height: 475px){
        top:0;
      }
    }
    iframe{
        position: absolute  ;
        height: 100%;
        width:50%;
        border: none;

        @media only screen and (max-width: 815px){
          margin-left: auto;
          margin-right: auto;
          height: 50%;
          left:0;
          right: 0;
          top: 50px;
          width: 60%;

        }
        @media only screen and (max-width: 600px){
          display: block;
          position: relative;
          margin: 0 auto 0 auto;
          top: 0;
          left:0;
          right:0;
          bottom:0;
          height: 250px;
          width: 250px;
        }
        @media only screen and (max-height: 475px){
          top:0;
        }
      }
    .textCont{
      color: white;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      margin: auto;
      width:500px;
      height: 200px;

      @media only screen and (max-width: 815px){
        width: 400px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left:0;
        right: 0;
        bottom: 10%;
      }
      @media only screen and (max-width: 700px){
        display: block;
        position: relative;
        margin: 50px auto 0 auto;
        top: 0;
        left:0;
        right:0;
        bottom:0;
      }
      @media only screen and (max-width: 405px){
        width: 90%;
        text-align: center;
      }

      h1{
        font-family: 'Megrim', Arial;
        font-size: 35px;
        color: #CE5858;
        span{
          font-family: 'Courier New', Courier, monospace;
        }
      }
      p{
        line-height: 1.5em;
        font-size: 17px;
        color: #86A59C;
        font-family: 'dosis', cursive;
      }
    }//textCont end

    #nav{
        position: fixed;
        top: 25px;
        right: 25px;
        height: 40px;
        width: 40px;
        background-color: transparent;
        z-index: 400;



        ul{
          //display: none;
        li{
          display: none;
          width:100%;
          text-align: center;
          margin-top: 10px;

          img{
            height:50px;
            width: 50px;
            border: 2px solid black;
            border-radius: 100%;
            background-color: transparent;
          }
          &:first-of-type{
            margin-top: 15px;

            text-align: center;
            margin-left: 0;
            width: 100%;
            p{
              font-family: 'Megrim', Arial;
              color:black;

            }
            a{
              color:black;
            }

          }
          &:nth-child(2){
            margin-top: 30px;
          }
          &:hover{
            cursor: pointer;
          }

        }//end li
    }//ul end
      a,
      p{
        color: white;
        font-size: 17px;

      }
      p{
        font-family: 'Dosis', sans-serif;
      }

    }//nav end




}//banner end

  /*==================================================================================DEVELOPER*/
  .developer{
    overflow: hidden;
    height: auto;
    width: 100%;
    background-color: #CE5858;
    p{
      font-family: 'Dosis', sans-serif;
    }

    .devIconTop{
      height:auto;
      width: 250px;
      margin-top: 5%;
      vertical-align: top;


      @media only screen and (max-width: 775px){
        display: block;
        margin: 30px auto 0 auto !important;
      }

      #webMobileDev{
        height: 150px;
        width: 250px;
        @media only screen and (max-width: 810px){
          height: 125px;
          width: 225px ;
        }
      }
      #frontEndDev{
        height: 150px;
        width: 250px;
        @media only screen and (max-width: 810px){
          height: 125px;
          width: 225px ;
        }
      }
      &:nth-child(2){
        margin: 5% 5% 0 5.5%;
        &:hover{
          cursor: pointer;
        }
        svg{
          margin-left: -5px;
          height: 150px;
        }
        @media only screen and (max-width: 975px){
          margin: 5% 2.5% 0 2.5%;
        }
        @media only screen and (max-width: 950px){
          margin: 5% 1% 0 1%;
        }

      }
      p{
        max-width: 225px;
        margin-top: 20px;
        color: black;
        @media only screen and (max-width:325px ){
          margin-top: 10px;
        }

      }

    }
    .ulWebType{
      padding-bottom: 100px;
    }
    .webTypes{
      height: 100px;
      width: 150px;
      margin-top: 4%;
      vertical-align: bottom;
      margin-bottom: 20px !important;


      p{
        color: black;
        font-size: 16px;
      }

      svg{
        height: 100px;
        width: 150px;
        border: 2px solid white;
        background-color: inherit;
      }
      @media only screen and (max-width: 550px){
        &:nth-child(1){
          display: inline-block;
          margin-right: 5% !important;
          vertical-align: middle;
        }
        &:nth-child(2){
          display: inline-block;
          margin: 0 0 0 0 !important;
          vertical-align: middle;
        }
        &:nth-child(4){
        display: inline-block;
        margin-right: 5% !important;
        vertical-align: middle;
        }
        &:nth-child(5){
        display: inline-block;
        margin: 0 0 0 0 !important;
        vertical-align: middle;
        }

      }

      @media only screen and (max-width:325px ){

        &:nth-child(-n+2),
        &:nth-child(n+4){

          display: block;
          margin: 0 auto;
          width: 100%;
          height:150px;



        }
        &:nth-child(4){
          padding-top: 20px;

        }
        &:nth-child(1){
          margin-top: 10px;
        }
      }

      &:nth-child(3){
        margin: 4% 5% 0 5%;
        height:150px;
        width:200px;
        svg{
          height:150px;
          width:200px;
        }
        @media only screen and (max-width: 1100px){
            margin: 4% 2% 0 2%
        }
        @media only screen and (max-width: 950px){
          display:block;
          margin: 4% auto 0 auto;
        }

      }
      &:nth-child(1){
        margin-right: 5%;
        @media only screen and (max-width: 1100px){
            margin-right: 3%;
        }
        @media only screen and (max-width: 950px){
        margin-right: 25%
        }
      }
      &:nth-child(5){
        margin-left: 5%;
        @media only screen and (max-width: 1100px){
            margin-left: 3%;

        }
        @media only screen and (max-width: 950px){
          margin-left: 25%;
        }
      }
    }

  }
/*==================================================================================PORTFOLIO*/
  .portfolio{
    z-index: 200;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #346E7E;
    overflow: hidden;
      @media only screen and (max-width: 550px){
        height:450px;
      }
    h1{
      color: white;
      text-align: center;
      margin-top: 6%;
      //font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-family: 'Dosis', sans-serif;
      i{
        font-size: 22px;
      }
      @media only screen and (max-width: 420px){
        font-size: 25px;
        i{
          font-size: 19px;
        }
      }
      @media only screen and (min-width: 1500px){
        margin-top: 40px;
      }
    }
    img{
      position: absolute;
      bottom: 2%;
      top: 7%;
      left: 0;
      right: 0;
      margin: auto;
      height: 70%;


      @media only screen and (max-width: 840px), only screen and (max-height: 640px){
        height: 50%;
      }
      @media only screen and (max-width: 550px){
        height: 200px;
      }
      @media only screen and (max-width: 400px){
        height: 150px;
      }

      @media only screen and (min-width: 1500px){
        height:540px;
        width: 900px;

      }
    }
  }//portfolio end
/*==================================================================================ME*/
.me{
  height: 500px;
  //background-color: #456468;
  background-color: #374A67;
  padding:10px;
  position: relative;
    @media only screen and (max-width: 470px){
      height: 580px;
    }
  .border{
    height: 100%;
    background-color: #547A7F;

  }
  .hold{
    text-align: center;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    height: 250px;
      @media only screen and (max-width: 850px){
        height: 100%;
      }
  }
  img,
  .textC{
    display: inline-block;
    vertical-align: middle;

    @media only screen and (max-width: 850px){
      display: block !important;
      vertical-align: none;
      margin: 30px auto 0 auto !important;
    }
  }
  img{
    width: 300px;
    border: 7px solid #6D9FA5;
  @media only screen and (max-width: 470px){
    width: 250px;
  }

  }
  .textC{
    margin-left: 50px;
    width: 420px;
    line-height: 2em;
    font-family: 'Dosis', sans-serif;
      @media only screen and (max-width: 850px){
        margin-left: 0;
      }
      @media only screen and (max-width: 470px){
        width: 80%;
      }
    p{
      color: #374A67;
      text-align: left;
      font-size: 20px;
      @media only screen and (max-width: 850px){
        line-height: 1.5em;
      }
    }
    span{
      border-bottom: 1px solid #2F4447;
    }
  }

}
/*==================================================================================CONTACT*/
.contact{
  height: 700px !important;
  background-color: transparent;
  position: relative !important;
  max-height: 700px !important;
  min-height: 700px !important;
  overflow: hidden !important;
  -webkit-overflow-scrolling:touch;
  iframe{
    position: absolute;
    top: 0;
    left:0;
    height: 700px !important;
    width: 100%;
    border: none;
    max-height: 700px !important;
    min-height: 700px !important;
    overflow: hidden !important;
    -webkit-overflow-scrolling:touch;
  }
  #container{
    display:none;
    color: #808080;

    font-size:12px;
    text-align:center;
    background-color: #7D7B7D;
    margin: 0px;
    overflow: hidden;
    height: 700px;
    max-height: 700px !important;

     			form {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
          }
           form ::-webkit-input-placeholder {
              color: black;

            }
           form ::-moz-placeholder {
              /* Firefox 19+ */
              color: black;

            }
           form :-ms-input-placeholder {
              color: black;

            }
     form input {
              width: 35%;
              border-bottom: 1px solid black;
              border-top: 0 solid black;
              border-left: 0 solid black;
              border-right: 0 solid black;
              padding-left: 20px;
              margin: 30px 0 0 0;
              background-color: transparent;
              height: 50px;
              color: black;
              text-align: center;
    					max-width: 500px;
          }
     form input:nth-child(1) {
                margin-right: 30px;
            }
    				form input:nth-child(3) {
    									 margin-right: 30px;
    									 display: block;
    									 margin: 30px auto 0 auto;
    							 }
     form textarea {
              height: 300px;
              width: 50%;
              background-color: transparent;
              padding: 30px;
              border: 1px solid black;
              color: black;
              display: block;
              margin: 30px auto 0 auto;
    					max-width: 600px;
          }
     form button {
              height: 60px;
              width: 180px;
              background-color: #82B575;
              color: black;
              border: none;
              margin-top: 30px;
              font-size: 17px;
              margin-bottom: 50px;
    					font-family: "Courier New", Courier, monospace;
    					letter-spacing: 1px;
          }
    			form button:hover{
    				cursor:pointer;
    			}
    			@media only screen and (max-width:550px){
    				form textarea{
    					width: 70%;
    				}
    			}
  }
}
/*==================================================================================FOOTER*/
  .footer{
    height:220px;
    background-color: #547A7F;
    overflow: hidden;
    width: 100%;


    p{
      font-size:15px;
      color: #E4F799;
      font-family: 'Dosis', sans-serif;

    }
    a{
      color:#E4F799;
      font-size: 20px;
      font-family: 'Dosis', sans-serif;

    }
    .copyright{
      margin-bottom: 20px;
    }
    .footerLinks{
      padding-top: 30px;
      margin-top: 0;
      margin-bottom: 30px;
      li{
        p{
          &:hover{
            border-bottom: 2px solid #E4F799;
            padding-bottom: 2px;
            cursor: pointer
          }
        }
        &:nth-child(-n+4){

          margin-right: 20px;
        }

      }
    }

    .footerIcons{
      margin-bottom: 20px;

      li{

        &:nth-child(2){
          margin:0 20px;
          img{
            width: 30px;
          }

        }

        img{
          height: 50px;
          width: 50px;

        }
      }

    }

  }//end footer
/*==================================================================================FOOTER*/



}//end of total wrap (#home)
