.labPage{
  height: 100%;
  width: 100%;
  border: 5px solid transparent;
  background-color: #1E0F00;
  overflow: scroll;
  text-align: center;

  .title{
    font-size: 25px;
    text-align: center;
    //font-family: $mono;
    font-family: arial;
    letter-spacing: 5px;
    display: block;
    margin: 0 auto 0 auto;
    color: #0094C6;

    width: 100%;
    height: 80px;
    background-color: transparent;
    border: none;
    z-index: 100;
  }//end title

  .labItemHold{
    //border: 1px solid beige;
    position: absolute;
    top:0;
    left:0;right:0;bottom:0;margin:auto;
    width: 100%;
    height: 350px;

    @media only screen and (max-width: 875px){
      //border: 1px solid white;
      top:auto;
      height: 70%;
      bottom:50px;
      overflow: scroll;
      //padding-bottom: 50px;

      .labItem{
        display: block !important;
        margin: 60px auto 0 auto !important;
        &:nth-child(1){
          margin-right: 0;
        }

      }
    }//end 875px

  }

  .labItem{
    position: relative;
    display: inline-block;
    vertical-align: middle;

    height: 340px;
    width: 300px;
    &:nth-child(1){
      margin-right: 50px;
    }
    //border: 2px solid beige;
    //margin-top: 60px;

    img{
      width: 100%;
      height: auto;
      opacity:0.8;
    }


  }//end labItem
  .words{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    color: white;
    line-height: 1.5em;
    opacity:0.5;

    .itemType{
      //text-transform: uppercase;
      font-family: $mono;
    }
    .itemName{
      text-transform: uppercase;
      font-family: $sans;
    }
  }//end words

}//end labPage
