#responce{
  div{
    background-color: #A5FFC0;
    height: 100%;
    width: 100%;
    position:relative;
  }
  p{
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    position: absolute;
    text-align: center;
    height: 20px;
    width: 150px;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    margin: auto;
  }
}
