#services{
	.s1{
		@include setup($Bod, 100% ,scroll);
		.main-cont{
			ul{
				margin-top: 3%;
			}
			li{
				height: 280px;
				width:220px;
				
				vertical-align: top;


				&:nth-child(2){
					margin: 0 3%;
				}
				&:nth-child(3){
					svg{
						visibility: hidden;
					}
				}


				&:nth-child(4){

					display:block;
					margin: 3% auto 100px auto;
					
					p{
						margin-bottom: 100px;
					}
				}
				
				div{
					height: 190px;
					width: 190px;
					background-color: inherit;
					border:3px solid white;
					margin-top: 3%;
					border-radius: 100%;
	
				}
				p{
					margin-top: 20px;
					color: white;
					font-size: 25px;
					font-family: 'Megrim', arial;
					padding:15px;
					background-color:#A7D49B;
					&:hover{
						background-color:#EA5454;
						transition:1.5s;
						border-radius: 100px;
						color: black;
					}
				}

			}
		}
			
	}
}