/* definings */
/* global styles */
* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box !important; }

.cntr {
  display: block;
  margin: 0 auto; }

.crcl {
  border-radius: 100%; }

.ul {
  text-align: center; }

.li {
  display: inline-block; }

html,
body {
  height: 100%;
  min-height: 100%; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  position: relative;
  height: 100%;
  min-height: 100%; }

/*
*    Content::: start
*/
body {
  background-color: #39243F; }

.interpretation {
  z-index: 10000;
  position: absolute;
  height: 0px;
  width: 0px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border: 1px solid #D8C08A;
  font-family: 'Roboto Slab', serif; }
  .interpretation .content {
    display: none;
    padding: 20px; }
    .interpretation .content p {
      color: #D8C08A; }
  .interpretation a {
    color: #D8C08A;
    border-bottom: 1px solid #D8C08A; }
  .interpretation button {
    height: 40px;
    width: 100px;
    background-color: black;
    color: #D8C08A;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px; }
  .interpretation button:hover {
    cursor: pointer; }

.s1 {
  background-image: url("../img/food2.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }
  .s1 .content {
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative; }
  .s1 .logo {
    display: block;
    margin: 100px auto 0 auto; }
    .s1 .logo .yummer {
      color: white;
      font-size: 130px;
      text-align: center;
      margin: 0;
      font-weight: normal;
      font-family: 'Vibur', sans-serif; }
      @media only screen and (max-width: 500px) {
        .s1 .logo .yummer {
          font-size: 100px; } }
  .s1 .introWords {
    display: block;
    margin: 50px auto 0 auto;
    width: 80%; }
    .s1 .introWords p {
      color: white;
      margin-top: 10px;
      font-size: 20px;
      text-align: center;
      font-family: 'Roboto Slab', serif; }
  .s1 .launch {
    display: block;
    margin: 40px auto 0 auto;
    width: 100%; }
    .s1 .launch .counter {
      display: block;
      margin: 0px auto 0 auto;
      height: 250px;
      width: 100%; }
      @media only screen and (max-width: 760px) {
        .s1 .launch .counter .big {
          font-size: 40px !important; } }
      @media only screen and (max-width: 650px) {
        .s1 .launch .counter .li {
          padding: 10px !important; }
        .s1 .launch .counter .big {
          font-size: 40px !important; } }
      .s1 .launch .counter .ul {
        padding-top: 35px; }
      .s1 .launch .counter .li {
        height: auto;
        width: auto;
        padding: 20px; }
        .s1 .launch .counter .li p {
          color: white;
          text-align: center;
          display: block;
          margin: 0 auto; }
        .s1 .launch .counter .li .big {
          color: #F4D35E;
          font-size: 60px;
          padding: 20px;
          font-family: 'Megrim', cursive; }
        .s1 .launch .counter .li .small {
          font-size: 17px;
          letter-spacing: 3px;
          font-family: 'Megrim', cursive; }
  .s1 form {
    border: 1px solid transparent;
    width: 50%;
    padding: 0;
    position: relative;
    margin-top: 40px; }
    @media only screen and (max-width: 750px) {
      .s1 form {
        width: 75% !important; } }
    @media only screen and (max-width: 532px) {
      .s1 form {
        margin-top: 70px !important; } }
    .s1 form #name,
    .s1 form #email,
    .s1 form #subject,
    .s1 form #message {
      background-color: transparent;
      border: 2px solid #D8C08A;
      padding: 20px;
      color: lightblue; }
      .s1 form #name:focus,
      .s1 form #email:focus,
      .s1 form #subject:focus,
      .s1 form #message:focus {
        outline: 0; }
    .s1 form #name,
    .s1 form #email {
      height: 50px;
      position: absolute;
      width: 50%;
      border-bottom: none; }
    .s1 form #name {
      top: 0;
      left: 0; }
    .s1 form #email {
      top: 0;
      right: 0;
      border-left: none; }
    .s1 form #subject {
      height: 50px;
      display: block;
      margin: 50px auto 0 auto;
      width: 100%;
      border-bottom: none; }
    .s1 form #message {
      width: 100%;
      height: 300px; }
    .s1 form button {
      height: 60px;
      width: 150px;
      border: 2px solid #3E92CC;
      background-color: transparent;
      color: #3E92CC;
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 20px auto 40px auto; }
      .s1 form button:focus {
        outline: 0; }
    .s1 form ::-webkit-input-placeholder {
      color: #D8C08A; }
    .s1 form :-moz-placeholder {
      /* Firefox 18- */
      color: #D8C08A; }
    .s1 form ::-moz-placeholder {
      /* Firefox 19+ */
      color: #D8C08A; }
    .s1 form :-ms-input-placeholder {
      color: #D8C08A; }
  .s1 footer {
    display: block;
    height: 50px;
    background-color: #39243F; }
    .s1 footer p {
      text-align: center;
      color: #6E457A;
      padding: 15px; }

/*Page Specifics*/

/*# sourceMappingURL=main.css.map */
