
  body.oScroll{
    #shell{
      overflow: scroll;
    }
  }
  #contact{
    position: relative;
    background-image: url(../img/gradient/pinkyBlue.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll !important;

    //overflow: hidden !important;

  .logoSlogan{
    a{
      color: white;
    }
    #slogan{
      color: #463F91;
      border-left: 3px solid $bottomPurp;
      text-align: left;
    }
  }

    .header{
      color: white;
      font-family: $mono;
      color: #81E979;
      //letter-spacing: 5px;
      text-align: center;
      margin-top: 40px;
    }
    .textCont{
      @media only screen and (max-width:750px){
        width: 70%;
      }
      //color: #C9B0CB;
      color: #424E5E;
      width: 50%;
      margin-top: 40px;
      margin-bottom: 40px;
      font-family: $mono;

      li{
        list-style-type: circle;
      }
      p{
        text-align: left;
        margin-top: 5px;
        line-height: 1.0em;
      }
    }
    form{
      @media only screen and (max-width:750px){
        width: 75%;
      }
      @media only screen and (max-width:550px){
        width: 90%;
      }
      border: 1px solid transparent;
      width: 50%;
      padding: 0;
      position: relative;
      font-family: $mono;

      #name,
      #email,
      #subject,
      #message{
        background-color:transparent;
        border: 1px solid black;
        padding: 20px;
        color: black;
        &:focus{
          outline: 0;
          border: double;
        }
      }

      #name,
      #email{
        height: 50px;
        position: absolute;
        width: 50%;
        border-bottom: none;
      }
      #name{
        top: 0;
        left:0;
      }
      #email{
        top:0;
        right:0;
        border-left: none;
      }

      #subject{
        height: 50px;
        display: block;
        margin: 50px auto 0 auto;
        width: 100%;
        border-bottom: none;
      }
      #message{
        width: 100%;
        height: 300px;
      }
      button{
        height: 60px;
        width: 150px;
        //border: 1px solid $bottomBlue !important;
        border: 1px solid #3E92CC;
        //background-color: $bottomBlue;
        background-color: transparent;
        //color: $bottomBlue;
        color: #3E92CC;

        margin: 20px  auto;

      }

      ::-webkit-input-placeholder {
         color: #DB5C5C;
      }

      :-moz-placeholder { /* Firefox 18- */
         color: #DB5C5C;
      }

      ::-moz-placeholder {  /* Firefox 19+ */
         color: #DB5C5C;
      }

      :-ms-input-placeholder {
         color: #DB5C5C;
      }
    }//end form
  }//end #contact
