$mono: 'Anonymous Pro', monospace;
//$left: #564256;
$left: #795d79;
$leftText: rgba(247,184,184,0.5);
$menu: #A7CECB;
$right: #8BA6A9;
$brown: #564256;
$darkGreen: #607164;

$title: 'Josefin Sans', sans-serif;;
$fat: 'Abril Fatface', Arial;
$author: 'Josefin Sans', sans-serif;;
$date: 'Josefin Sans', sans-serif;;
$supportText: 'Josefin Sans', sans-serif;;


$megrim: 'Megrim', arial;
$roboto: 'Roboto Slab', serif;

$openSans: 'Open Sans', sans-serif;
