*{
  text-decoration: none;
  list-style-type: none;
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch !important;
}

.cntr{
  display: block;
  margin: 0 auto;
}

.crcl{
  border-radius: 100%;
}

.ul{
  text-align: center;
}

.li{
  display: inline-block;
}
.noPoint{
  pointer-events: none !important;
}
.oHide{
  overflow: hidden ;
}

.hideBorder{
  border: hidden !important;
}
.sortActive{
  background:black;
}

.mainNavActive{
  a{
    border-bottom: 1px solid black;
  }
}
.w100{
  width: 100px !important;
}


html,
body{
	height: 100%;
	min-height: 100%;
}
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
  position: relative;
  height: 100%;
  min-height: 100%;
}

//////////////////////////////
//////////////////////////////
//////////////////////////////
//////////////////////////////

.interpretation{
  z-index: 10000;
  position: absolute;
  height: 0px;
  width: 0px;
  top:0;
  right:0;
  bottom:0;
  left:0;
  margin: auto;
  border: 1px solid #F2ECC1;

  font-family: monospace;

  .content{
    display: none;
    padding: 20px;
    text-align: center;
    color: #F2ECC1;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 1px;
  }
  a{
    color: #F2ECC1;
    border-bottom: 1px solid #F2ECC1;
  }
  button{
    height: 40px;
    width: 100px;
    background-color: transparent;
    //color: #EAC4BB;
    font-family: Verdana, Geneva, sans-serif;
    color: #F2ECC1;
    border: 1px solid #F2ECC1;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
    &:hover{
      cursor: pointer ;
    }
  }

}

body{
  background-color: white;
}
.logo{
  font-family: $mono;
  margin: 20px 0 0 20px;
  a,
  p{
    color: black;
    font-size: 18px;
  }
}
.slogan{
  font-size: 13px;
  border-left: 2px solid #E0777D;
  color: #5E9DBA;
  margin-left: 20px;
  margin-top: 5px;
  padding-left: 5px;
  width: 200px;

}

.mainNav{
  @media only screen and (max-width: 1200px){
    margin-top: 30px;
  }
  .li{
    margin-top: 10px;
    &:nth-child(n+2){
      margin-left: 20px;
    }
  }
  a{
    font-family: $mono;
    color: black;
    font-size: 18px;
  }

}

form{
  fieldset{
    display: inline-block;
  }
}
.menu{
  width: 40px;
  height: 40px;
  background-color: #5E9DBA;
  position: absolute;
  top:20px;
  right:20px;
  z-index: 2;


  .lineHold{
    margin: 0 auto;
    height:40px;

    &:hover{
      cursor: pointer;
    }
  }
  .line{
      display: block;
      margin: 6px auto 0 auto;
      height: 1px;
      width: 20px;
      background-color: white;
      position: relative;
  }

  .l1{
    margin-top: 13px;

  }

  .ul{
    height:auto;
    width: auto;
    background-color: inherit;
    display: none;

    li{
      //border: 1px solid white;
      text-align: right;

      font-family: $mono;

      &:nth-child(n+1){
        margin-bottom: 5px;
      }
      &:nth-last-child(1){
        padding-bottom: 10px;
      }
      a{
        color: white;
        font-size: 18px;
        margin-right: 20px;
        &:hover{
          border-bottom: 1px solid white;
        }

      &:visited{
        color: white;
        }
      }
    }

  }

}//end .menu
#shell{
  background-color: #D8C08A;

  background-image: url("../img/gradient/gradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% ;
    width: 100% ;

  position: absolute;
  border-top: 20px solid white;
  border-right: 20px solid white;
  border-left: 20px solid white;
  border-bottom: 40px solid white;
  overflow: scroll;


  @media only screen and (max-width:900px){
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-left: 10px solid white;
  }

}

#Container{
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-bottom: 40px;
  height: auto;
  width: 100%;
  text-align: center;


  .item{
    height: auto;
    width: auto;

    //border: 5px solid #39243F;
    //background-color: #6E457A;
    background-color: transparent;
    margin: 30px 0 0 30px;

    -webkit-box-shadow: 17px 15px 78px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 17px 15px 78px -9px rgba(0,0,0,0.75);
    box-shadow: 17px 15px 78px -9px rgba(0,0,0,0.75);

    @media only screen and (max-width: 875px){
      margin: 20px 0 0 20px;
      .itemImg{
        height: 200px !important;
      }
      .name{
        font-size: 15px;
      }

    }//end 875px

    @media only screen and (max-width: 700px){
      margin: 10px 0 0 10px !important;
      .itemImg{
        height: 175px !important;
      }

      .name{
        font-size: 13px;
        height: 20px !important;
        padding-top: 0 !important;
      }

    }//end 700px

    .itemImg{
      height: 350px;
      width: auto;
      &:hover{
        cursor: pointer;
      }

    }

    .words{
      width: 100%;
      //border: 2px solid black;
    }
    .name{
      padding-top:5px;
      font-family: $name;
      height: 30px;
      width: 100%;
      color: black;
      display:block;
      //border:1px solid white;
      text-align: center;
    }
    .price{
      font-family: $mono;
      color: black;
      border: 1px solid black;
      //width: 75px;
      display: block;
      margin: 0 auto;
      padding: 5px;
      margin-bottom: 10px;
      background-color: transparent ;
      &:hover{
        background-color: white;
      }

        &:focus{
          outline: double;
        }
    }

  }
  .mix{
    display: none;
  }
  .tech{
      background-image: url("../img/gradient/blueGradient.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100% !important;
      width: 100% !important;

      .name{
        color: #E6E1C5;
      }
      .brand{
        color:#C6C1A3;
      }
      .type{
        border-left: 2px solid #305EA8;
        border-right: 2px solid #305EA8;
        color: #305EA8;
      }
      .price{
        color: white !important;
        border: 1px solid white !important;

        &:hover{
          background-color: black;
        }

      }
      .purchase{
          color: #92DDB4 !important;
          border: 1px solid #92DDB4 !important;
          &:hover{
            color: #A8FFCF !important;
            border: 1px solid #A8FFCF !important;
          }
      }
      .info{
          color: #305EA8 !important;
      }

      .exit{
        background-color:#6461A0 !important;
        color: white !important;
        &:hover{
          color: #6461A0 !important;
          background-color: white !important;
        }
      }
  }
  .fashion{
    background-image: url("../img/gradient/purpGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;


      .name{
        color: #E6E1C5 !important;
      }
      .brand{
        color:#C6C1A3 !important;
      }
      .type{
        border-left: 2px solid #E7ED80 !important;
        border-right: 2px solid #E7ED80 !important;
        color: #E7ED80 !important;
      }
      .price{
        color: white !important;
        border: 1px solid white !important;

        &:hover{
          background-color: black;
        }

      }
      .purchase{
          color: #EF99CB !important;
          border: 1px solid #EF99CB !important;
          &:hover{
            color: #FFA3D8 !important;
            border: 1px solid #FFA3D8 !important;
          }
      }
      .info{
          color: #C592DD !important;
      }

      .exit{
        background-color:#92AFDD !important;
        color: black !important;
        &:hover{
          color: #92AFDD !important;
          background-color: black !important;
        }
      }
  }

  .art{
    background-image: url("../img/gradient/greenGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;

    .name{
      color: #7A658E !important;
      //color:#9E6856 !important;
    }
    .brand{
      color:#5B4C6B !important;
      //color:#724C3F !important;
    }
    .type{
      border-left: 2px solid #487A58 !important;
      border-right: 2px solid #487A58 !important;
      color: #487A58 !important;
    }
    .price{
      color: black !important;
      border: 1px solid black !important;

      &:hover{
        background-color: white;
      }

    }
    .purchase{
        color: #305EA8 !important;
        border: 1px solid #305EA8 !important;
        &:hover{
          color: #396FC6 !important;
          border: 1px solid #396FC6 !important;
        }
    }
    .info{
        color: #487A58 !important;
    }

    .exit{
      background-color:#8C6BAD !important;
      color: #DDBC5F !important;
      &:hover{
        color: #8C6BAD !important;
        background-color: #DDBC5F !important;
      }
    }
  }

  .transport{
    background-image: url("../img/gradient/redGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;

    .name{
      color:#3D3D3D;

    }
    .brand{
      color: black;
    }
    .price{
      color: white !important;
      border: 1px solid white !important;

      &:hover{
        background-color: black;
      }

    }
    .type{
      border-left: 2px solid #7F4F33 !important;
      border-right: 2px solid #7F4F33 !important;
      color: #7F4F33 !important;
    }
    .purchase{
        color: #337593 !important;
        border: 1px solid #337593 !important;
        &:hover{
          color: #3E8DB2 !important;
          border: 1px solid #3E8DB2 !important;
        }
    }
    .info{
        color: white !important;
    }

    .exit{
      background-color:#5E9DBA !important;
      color: black !important;
      &:hover{
        color: #5E9DBA !important;
        background-color: black !important;
      }
    }
  }

  .furniture{
    background-image: url("../img/gradient/lightDark.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;

    .name{
      color:white !important;

    }
    .brand{
      color: #E0E0E0 !important;
    }
    .price{
      color: white !important;
      border: 1px solid white !important;

      &:hover{
        background-color: black;
      }

    }
    .type{
      border-left: 2px solid #F4ACB7 !important;
      border-right: 2px solid #F4ACB7 !important;
      color: #F4ACB7 !important;
    }
    .purchase{
        color: #ADCBFF !important;
        border: 1px solid #ADCBFF !important;
        &:hover{
          color: #3E8DB2 !important;
          border: 1px solid #3E8DB2 !important;
        }
    }
    .info{
        //color: #ADCBFF !important;
        color: white !important;
    }

    .exit{
      background-color:#5E9DBA !important;
      color: white !important;
      &:hover{
        color: #5E9DBA !important;
        background-color: white !important;
      }
    }
  }


  .architecture{
    background-image: url("../img/gradient/brownGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100% !important;
    width: 100% !important;

    .name{
      color:#F2D0A4;

    }
    .brand{
      color: #542E2C;
    }
    .price{
      color: #B5BAD0 !important;
      border: 1px solid #B5BAD0 !important;

      &:hover{
        background-color: black;
      }

    }
    .type{
      border-left: 2px solid #88CC7C !important;
      border-right: 2px solid #88CC7C !important;
      color: #88CC7C !important;
    }
    .purchase{
        color: white;
        border: 1px solid white;
    }
    .info{
        color: #B5BAD0 !important;
    }

    .exit{
      background-color:#5E9DBA !important;
      color: black !important;
      &:hover{
        color: #5E9DBA !important;
        background-color: black !important;
      }
    }

  }//end .architecture

  .after{
    height: 400px ;
    width: 400px ;
    //height: 10px;
    //width: 10px;
    display: none;
    position: fixed !important;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    z-index: 5000000;
    //text-align: center;
    //border: 10px solid #817E9F;
    background-color: #7FC29B;
    overflow: scroll;

    .name{
      font-size: 17px;
    }
    .brand{
      font-family: Verdana, Geneva, sans-serif;
      text-transform: uppercase !important;
      font-size: 14px !important;
      letter-spacing: 2px;
    }
    .type{
      font-size: 13px;
      border-left: 2px solid #305EA8;
      border-right: 2px solid #305EA8;
      border-top: none;
      border-bottom: none;
      color: #305EA8;
      display: block;
      padding: 2px 5px;
      margin: 10px auto 10px auto;
      background-color: transparent;
      font-family: times;
    }
    .price{}
    .purchase{}
    .info{
      pointer-events: all;
    }
    .price{
      margin-top: 10px !important;
    }
    .right{
      a{
        .purchase{
          border: 1px solid black;
          padding: 10px;
          background-color: transparent;
          font-family: $mono;
          color: black;
          &:focus{
            outline: double;
          }
        }
      }//end a.button
      .info{
        height: auto !important;
        font-family: Verdana, Geneva, sans-serif;
        color: white;
        margin-top: 30px;
        line-height: 1.5em;
      }
      .social{
        margin-top: 20px;
        .li{
          height: 50px !important;
          width: 50px !important;
          img{
            height: 50px !important;
            width: 50px !important;
            padding: 5px;

          }
        }
      }//.social
    }//end .right

    .exit{
      height: 50px;
      width: 50px;
      background-color: black;
      position: absolute;
      top:0;
      right:0;
      color: white;
      border:none;
      z-index: 50;
      pointer-events: all;
      font-family: $name;
      &:focus{
        outline:0;
      }

    }//end .exit
  }//end .after

  .contentMultiple{
    height: 100%;
    width: 100%;
    pointer-events: all !important;

    @media only screen and (max-width: 1000px){
      height: auto !important;
      .imgGalley,
      .right{
        display: block !important;
        margin: 0 auto 0 auto;
      }
      .imgGallery{
        margin-top: 30px;
        width: 80% !important;
        max-width: 100% !important;
      }
      .right{
        width: 60% !important;
        border: 1px solid white;
        margin-top: 20px !important;
        max-width: 90%;
      }
    }//end 1000px

    .imgGallery{
      height: auto;
      max-width: 60%;
      position: relative;
      overflow-y: hidden;
      overflow-x: scroll;
      white-space: nowrap;
      display:inline-block ;
      position: relative !important;
      vertical-align: middle;
      margin-top: 10%;
      @media only screen and (max-width: 700px){
        width: 90% !important;
      }

      img{
        height: 400px;
        width: auto;
        margin: 0 0 0 30px;
        display: inline-block !important;
        vertical-align: middle;
        position: relative;
         @media only screen and (max-width: 700px){
           height: 300px;
           width: auto;
         }
      }
    }//end .imageGallery

    .right{
      padding: 10px;
      height: auto ;
      width: 38%;
      display:inline-block ;
      position: relative !important;
      vertical-align: middle;
      margin-top: 10%;

      @media only screen and (max-width: 760px){
        width: 90% !important;
      }
    }// end .contentMultiple .right
  }//end .contentMultiple

  .contentSolo{
    height: auto;
    width: auto;
    pointer-events: all !important;
    position: relative !important;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width:1100px){
      height: 100% !important;
      max-height: 100%;
      display: block;
      margin: 0 auto;
      width:100% !important;
      top: 0;
      transform: none;
      position: relative !important;
      overflow: scroll;
      .soloImg{
        height: 400px;
        width: auto;
        display: block !important;
        margin: 30px auto 0 auto !important;
      }
      .right{
        width: 70% !important;
        display: block !important;
        margin: 20px auto 0 auto !important;

        .social{
          margin-bottom: 40px;
        }
      }
    }//end media querie 1100

    @media only screen and (max-width:625px){
      .soloImg{
        max-width: 90% !important;
        height: auto !important;
        width: 90% !important;
        height: auto;
      }
    }//end 625px

    .soloImg,
    .right{
      display: inline-block !important;
      vertical-align: middle !important;
    }
    .soloImg{
      height: auto ;
      max-height: 600px !important;
      max-width: 60%;
      position: relative;

    }
    .right{
      width: 30%;
      height: auto;
      max-height: 70%;
      margin-left: 20px;
    }//end .contentSolo .right
  }//end .contentSolo
}//end #Container



.search{
  position: absolute;
  margin: auto;
  bottom: 7px;
  left:0;
  right:0;
  width:300px;
  padding: 0;
  border: none;

  @media only screen and (max-width: 650px){
    width: 200px;
  }//650px

  @media only screen and (max-width: 530px){
    width: 100px;
  }//530px

  ::-webkit-input-placeholder {
     color: black;
     text-align: center;
     font-family:$mono;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: black;
     text-align: center;
     font-family:$mono;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: black;
     text-align: center;
     font-family:$mono;
  }

  :-ms-input-placeholder {
     color: black;
     text-align: center;
     font-family:$mono;
  }
  input{
    text-align: center;
    font-family:$mono;
    color: black;
    height: 25px;
    width: 100%;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid black;



    &:focus{
      outline: 0;
    }
  }
}//end search




#businessType{
  position: absolute;
  bottom: 2px;
  left: 20px;
  color: black;
  font-family: $mono;
  font-size: 15px;

  padding: 10px 0;
  &:hover{
    cursor: pointer;
  }
}
.businessOptions{
  height: auto ;
  width: auto; ;

  display: none;
  position: absolute;
  bottom: 40px;
  left:20px;
  background-color: #5E9DBA;




  fieldset{
    height: auto;
    width: 100%;
    font-family: $mono;
    border:1px solid transparent;
    input[type="checkbox"]{
     float: right;
     height: 15px;
     width: 15px;
     margin-left: 10px;
     -webkit-appearance: none;


      &:focus{
        outline: 0;
      }
    }
    input[type="checkbox"]:not(:disabled){
      background: transparent;
      border: 1px solid #C1F2F2;
    }
    input[type="checkbox"]:checked{
      background: #4A4E69;
    }
    div{
      margin-top: 5px;
      margin-left: 20px;

      text-align: right;
      margin-right: 30px;

      label{
        color: #F2ECC1;
      }
    }

  }

}
.businessTriangle{
  position: absolute;
  bottom: 13px;
  left: 135px;
  &:hover{
    cursor: pointer;
  }
}

#sort,
.sortTriangle{
  &:hover{
    cursor: pointer;
  }
}
#sort{
	font-family:$mono;
	position: absolute;
	bottom: 2px;
	right: 35px;
	font-size: 15px;

	padding: 10px 0 10px 15px;

}
.sortOptions{
  height: auto ;
  width: 175px ;
  display: none;
  position: absolute;
  bottom: 40px;
  right:20px;
  background-color: #5E9DBA;

  .sort{
    font-family: $mono;
    color: #F2ECC1;
    float: right;
    margin-right: 30px;

    &:nth-child(1){
      margin-top: 20px;
    }
    &:nth-child(2){
      margin-top: 5px;
      margin-bottom: 5px;
    }
    &:nth-child(3){
      margin-bottom: 20px;
    }
  }
  .sort:after{
    content:'';
    height: 15px;
    width: 15px;
    margin-left: 10px;
    display: inline-block;
    border: 1px solid #C1F2F2;
    background-color: transparent;
  }
  p.active::after{
      background-color: #4A4E69;
    }
}
.sortTriangle{
  position: absolute;
	bottom: 14px;
	right: 20px;
}

footer{
	font-family: $mono;
	font-size: 17px;
	margin: 40px 0;

	.copyright{
		text-align: center;
		font-size: 12px;
		color: black;
		margin-top: 20px;
	}
  .legal{
	text-align: center;
	font-size: 12px;
	padding-right: 13px;
	margin-top: 15px;

	a{
		display: inline-block;
		color: black;

		&:nth-child(1){
			border-right: 2px solid black;
			padding-right: 5px;
		  }
	  }
  }//end legal
  .meFooter{
  text-align: center;
  margin-top: 10px;

	img{
		height: 30px;
		width: 30px;
	}
	a{
		color: black;
		font-family: $mono;
	}
	img,
	p{
    display: block;
    margin: 0 auto;
	}
	p{
		font-size: 13px;
	}
}

}//emd footer

.manNav{
  background-color: #BED5E0;
  border: 1px solid black;
  padding: 5px 20px 15px 20px;
    display: block;
    width: 90%;
    margin: 30px auto 0 auto;
    @media only screen and (max-width: 420px){
      width: 90%;

    }
    .li{
      font-family: $mono;
      margin-top: 10px;
      padding: 5px 10px;
      margin-left: -5px;
      margin-right: -5px;
      border-right: 1px solid black;
      border-left: 1px solid black;
      &:nth-child(1){
        border-left: 1px solid black;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .li.active{
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
  }//end manNav
.artNav{
  background-color: #BED5E0;
  border: 1px solid black;
  padding: 5px 10px 15px 10px;
    display: block;
    width: 660px;
    margin: 30px auto 0 auto;
    @media only screen and (max-width: 720px){
      width: 90%;

    }
    .li{
      font-family: $mono;
      margin-top: 10px;
      padding: 5px 10px;
      margin-left: -5px;
      margin-right: -5px;
      border-right: 1px solid black;
      border-left: 1px solid black;
      &:nth-child(1){
        border-left: 1px solid black;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .li.active{
      border-bottom: 1px solid black;
      border-top: 1px solid black;
    }
  }//end artnav
.transportNav{
  background-color: #BED5E0;
  border: 1px solid black;
  padding: 5px 20px 15px 20px;
  display: block;
  width: 420px;
  margin: 30px auto 0 auto;
  @media only screen and (max-width: 420px){
    width: 90%;
  }
  .li{
    font-family: $mono;
    margin-top: 10px;
    padding: 5px 10px;
    margin-left: -5px;
    margin-right: -5px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    &:nth-child(1){
      border-left: 1px solid black;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .li.active{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
}//end transportNav
.furnitureNav{
  border: 1px solid black;
  background-color: #BED5E0;
  padding: 10px 20px 20px 20px;
  display: block;
  width: 740px;
  margin: 30px auto 0 auto;
  @media only screen and (max-width: 815px){
    width: 90%;

  }
  .li{
    font-family: $mono;
    margin-top: 10px;
    padding: 5px 10px;
    margin-left: -5px;
    margin-right: -5px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    &:nth-child(1){
      border-left: 1px solid black;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .li.active{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
}
